@model IEnumerable<Abundance_Nk.Model.Entity.PAYMENT_ETRANZACT_TYPE>
@{
    ViewBag.Title = "AddStaff";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/Scripts/js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#myTable").DataTable();

    });

</script>


<p>
        @Html.ActionLink("Create New", "Create")
    </p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Payment_Etranzact_Type_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FEE_TYPE.Fee_Type_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LEVEL.Level_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PAYMENT_MODE.Payment_Mode_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PROGRAMME.Programme_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SESSION.Session_Name)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Payment_Etranzact_Type_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FEE_TYPE.Fee_Type_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LEVEL.Level_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PAYMENT_MODE.Payment_Mode_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PROGRAMME.Programme_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SESSION.Session_Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Payment_Etranzact_Type_Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Payment_Etranzact_Type_Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Payment_Etranzact_Type_Id })
                </td>
            </tr>
        }
    </tbody>

</table>
