@using Abundance_Nk.Web.Models
@model Abundance_Nk.Model.Model.Receipt


<style>
    body {
        font-family: 'Poppins', sans-serif !important;
        /*font-family: 'Poppins', sans-serif !important;*/
    }
    label{
        font-size:15px!important
    }
</style>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">



<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
<script src="~/Scripts/html2canvas.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {


        $("#aPrint").on('click', function () {

            var payment = $('#paymentId').val();
            var url = '@Html.Raw(Model.BaseUrl)' + 'Reports/Presenter/e-Recieptaspx.aspx?paymentId=' + payment;

           // window.open('http://myedu.unizik.edu.ng/Reports/Presenter/e-Recieptaspx.aspx?paymentId=' + payment, '_blank');
            window.open(url, '_blank');

            //window.open('http://localhost:2712/Reports/Presenter/e-Recieptaspx.aspx?paymentId=' + payment, '_blank');


        });

    });
</script>

<style>
    .card {
        padding: 30px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        margin: 30px 0;
        border: 1px solid #f2f2f2;
    }

    .text-uppercase {
        font-weight: bold;
        margin-right: 15px;
    }

    .form-group {
        margin-bottom: 0px !important;
    }


    /*@@media print {
    font-size: 50px;
    background: #333333;
    margin-top: 2cm;
    margin-right: 2cm;
    margin-bottom: 1.5cm;
    margin-left: 2cm
        }*/
</style>

<div class="container-fluid" id="printable">
    <div class="row">
        @Html.HiddenFor(model => model.PaymentId, new { Id = "paymentId" })
        @*<div class="col-md-8 col-md-offset-2 offset-sm-0" style="background:  url('@Url.Content("~/Content/Images/absu.png")'); height:100%; background-repeat: no-repeat; background-size: 100%; background-position: center center;">*@

        @*<div class="col-md-12" style="position:absolute">
            <img src="@Url.Content("~/Content/Images/school_logo.jpg")" style="width:300px;height:300px; opacity:.5" />
           
        </div>*@
        <div class="col-md-8 col-md-offset-2 offset-sm-0">
            <div class="card" style="background: rgba(255, 255, 255, .9);">
                <div class="row">

                    <table class="table" style="width: 100%; height: 3px;">

                        <tbody>
                            <tr>
                                <td style="width: 40%; border: 0px solid transparent;">
                                    <div class="col-md-12">
                                        <img src="@Url.Content("~/Content/Images/school_logo.jpg")" width="100px" height="100px" />
                                        <h3 style="font-weight: bold;">NNAMDI AZIKIWE UNIVERSITY</h3>
                                        <p>P.M.B 5025, Awka, Anambra State</p>
                                    </div>
                                </td>

                                <td style="width: 50%; border: 0px solid transparent;">
                                    <div class="col-md-12" style="text-align: right;">
                                        @Html.GenerateQrCode(Model.QRVerification)<br><br>
                                        <div class="col-md-12" style="width: 100%;">
                                            <sub style="font-weight: bold;">Receipt Serial #: <label class="text-capitalize text-bold" style="font-size: 1.7em;"><br />@Model.ReceiptNumber</label></sub>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                    </table>



                    <table class="table" style="width: 100%; height: 3px;">

                        <tbody>
                            <tr>
                                <td style="width: 100%; border: 0px solid transparent;">

                                    <div class="col-md-12 text-uppercase text-center">
                                        <h3 style="font-weight:600">PAYMENT RECEIPT</h3>
                                        <hr>
                                    </div>
                                </td>
                            </tr>



                            @if (Model.Programme == "Pre-Science")
                            {
                                <tr>
                                    <td style="border: 0px solid transparent;">
                                        <div class="col-md-3 form-group" style="margin-bottom: 0px !important; font-size: 10px;">
                                            <label class="text-uppercase text-bold">NAME: </label>
                                        </div>
                                        <div class="col-md-8 form-group" style="margin-bottom: 0px !important; font-size: 10px;">
                                            <label class="text-capitalize ml-5"> @Model.Name</label>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="padding: 5px; width: 100%; border: 0px solid transparent; font-size: 10px;">
                                        <div class="col-md-3 form-group" style="margin-bottom: 0px !important; font-size: 10px;">
                                            <label class="text-uppercase text-bold">Application Number: </label>

                                        </div>
                                        <div class="col-md-8 form-group" style="margin-bottom: 0px !important; font-size: 10px;">
                                            <label class="text-capitalize">@Model.MatricNumber</label>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="padding: 5px; width: 100%; border: 0px solid transparent; font-size: 10px;">
                                        <div class="col-md-3 form-group" style="margin-bottom: 0px !important; font-size: 10px;">
                                            <label class="text-uppercase text-bold">Programme: </label>

                                        </div>
                                        <div class="col-md-8 form-group" style="margin-bottom: 0px !important; font-size: 10px;">
                                            <label class="text-capitalize">@Model.Programme</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 5px; width: 100%; border: 0px solid transparent; font-size: 10px;">
                                        <div class="col-md-3 form-group" style="margin-bottom: 0px !important; font-size: 10px;">
                                            <label class="text-uppercase text-bold">Faculty: </label>

                                        </div>
                                        <div class="col-md-8 form-group" style="margin-bottom: 0px !important; font-size: 10px;">
                                            <label class="text-capitalize">@Model.Faculty</label>
                                        </div>
                                    </td>
                                </tr>

                                if (!string.IsNullOrEmpty(Model.ModeOfStudy))
                                {
                                   
                                    <tr>
                                        <td style="padding: 5px; width: 100%; border: 0px solid transparent; font-size: 10px;">
                                            <div class="col-md-3 form-group" style="margin-bottom: 0px !important; font-size: 10px;">
                                                <label class="text-uppercase text-bold">Mode Of Study: </label>

                                            </div>
                                            <div class="col-md-8 form-group" style="margin-bottom: 0px !important; font-size: 10px;">
                                                <label class="text-capitalize">@Model.ModeOfStudy</label>
                                            </div>
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td style="width: 100%; border: 0px solid transparent;">
                                        <div class="col-md-12">
                                            <hr>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 100%; border: 0px solid transparent; font-size: 10px;">
                                        <div class="col-md-5 form-group" style="margin-bottom: 0px !important; font-size: 10px;">
                                            <label class="text-uppercase text-bold">First Choice Department Department </label>
                                            <p style="font-size:10px"><b class="text-capitalize">@Model.Department</b></p>
                                        </div>
                                        @if (Model.DepartmentSecond != null)
                                        {
                                            <div class="col-md-5 form-group" style="margin-bottom: 0px !important; font-size: 10px;">
                                                <label class="text-uppercase text-bold">Second Choice Department Department: </label>
                                                <p style="font-size:15px"><b class="text-capitalize">@Model.DepartmentSecond</b></p>
                                            </div>
                                        }

                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td style="width: 100%; border: 0px solid transparent;">
                                        <div class="col-md-12 form-group" style="margin-bottom: 0px !important; font-size: 7px;">
                                            <label class="text-uppercase text-bold">NAME: </label>
                                            <label class="text-capitalize ml-5"> @Model.Name</label>
                                        </div>
                                    </td>
                                </tr><tr>
                                    <td style="padding: 5px; width: 100%; border: 0px solid transparent; font-size: 10px;">
                                        <div class="col-md-12 form-group" style="margin-bottom: 0px !important; font-size: 10px;">
                                            @if (!Model.MatricNumber.Contains("NAU"))
                                            {
                                                <label class="text-uppercase text-bold">Matric Number: </label>
                                            }
                                            else
                                            {
                                                <label class="text-uppercase text-bold">Application Number: </label>
                                            }
                                            <label class="text-capitalize">@Model.MatricNumber</label>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="width: 100%; border: 0px solid transparent; font-size: 10px;">
                                        <div class="col-md-12 form-group" style="margin-bottom: 0px !important; font-size: 10px;">
                                            <label class="text-uppercase text-bold">Department: </label>
                                            <label class="text-capitalize">@Model.Department</label>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="width: 100%; border: 0px solid transparent; font-size: 10px;">

                                        <div class="col-md-12 form-group" style="margin-bottom: 0px !important; font-size: 10px;">
                                            <label class="text-uppercase text-bold">Faculty: </label>
                                            <label class="text-capitalize">@Model.Faculty</label>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="width: 100%; border: 0px solid transparent; font-size: 10px;">
                                        <div class="col-md-12 form-group" style="margin-bottom: 0px !important; font-size: 10px;">
                                            <label class="text-uppercase text-bold">Programme: </label>
                                            <label class="text-capitalize">@Model.Programme</label>
                                        </div>
                                    </td>
                                </tr><tr>
    <td style="width: 100%; border: 0px solid transparent; font-size: 10px;">
        <div class="col-md-12 form-group" style="margin-bottom: 0px !important; font-size: 10px;">
            <label class="text-uppercase text-bold">Level: </label>
            @if (Model.Programme.Contains("PG"))
            {
                if (Model.Level.Contains("100"))
                {

            <label class="text-capitalize">First And Second Semester</label>

        }
        else if (Model.Level.Contains("200"))
        {

            <label class="text-capitalize"> Third Semester</label>
        }
        else
        {
   
            <label class="text-capitalize"> Subsequent Semester</label>

        }




            }
            else
            {
                <label class="text-capitalize">@Model.Level</label>
            }
</div>
                                    </td>
                                </tr>
                            }


                            <tr>
                                <td style="width:100%; border: 0px solid transparent;">

                                    <hr>

                                </td>
                            </tr>

                            <tr>
                                <td style="width: 100%; border: 0px solid transparent; font-size: 8px;">
                                    <div class="col-md-12 form-group" style="margin-bottom: 0px !important; font-size: 10px;">
                                        <label class="text-uppercase text-bold">Remita Receipt No: </label>
                                        <label class="text-capitalize">@Model.Number</label>
                                    </div>
                                </td>
                            </tr>


                            <tr>
                                <td style="width: 100%; border: 0px solid transparent; font-size: 8px;">
                                    <div class="col-md-12 form-group" style="margin-bottom: 0px !important; font-size: 10px;">
                                        <label class="text-uppercase text-bold">Remita Retrieval Reference (RRR): </label>
                                        <label class="text-capitalize">@Model.ConfirmationOrderNumber</label>
                                    </div>
                                </td>
                            </tr>



                            <tr>
                                <td style="width: 100%; border: 0px solid transparent; font-size: 8px;">
                                    <div class="col-md-12 form-group" style="margin-bottom: 0px !important; font-size: 10px;">
                                        <label class="text-uppercase text-bold">Session: </label>
                                        <label class="text-capitalize">@Model.Session</label>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td style="width: 100%; border: 0px solid transparent; font-size: 8px;">
                                    <div class="col-md-12 form-group" style="margin-bottom: 0px !important; font-size: 10px;">
                                        <label class="text-uppercase text-bold">Payment Mode: </label>
                                        <label class="text-capitalize">@Model.PaymentMode</label>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td style="width: 100%; border: 0px solid transparent; font-size: 8px;">
                                    <div class="col-md-12 form-group" style="margin-bottom: 0px !important; font-size: 10px;">
                                        <label class="text-uppercase text-bold">Payment Date: </label>
                                        <label class="text-capitalize">@Model.Date.ToShortDateString()</label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>








                    @*<br>*@
                    <div class="col-md-12">
                        @if (Model.Programme.Contains("JUPEB"))
                        {
                            var amout = Model.Amount - 1800;
                            var charge = 1800;
                            if (amout == 200000 || amout == 70000)
                            {
                                <table class="table table-striped table-bordered" style="border: 1px solid #ccc; width: 100%;">
                                    <thead>
                                        <tr style="border-bottom: 1px solid #ccc; ">
                                            <th scope="col" style="padding: 5px; width: 10%; border-bottom: 1px solid #ccc; font-size: 15px; border-right: 1px solid #ccc;">S/N</th>
                                            <th scope="col" style="padding: 5px; width: 80%; border-bottom: 1px solid #ccc;  font-size: 15px; border-right: 1px solid #ccc;">PAYMENT TYPE</th>
                                            <th scope="col" style="padding: 5px; width: 10%; border-bottom: 1px solid #ccc; font-size: 15px;">AMOUNT(N)</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="border-bottom: 1px solid #ccc;">
                                            <th scope="row" style="padding: 5px; width: 10%; border-bottom: 1px solid #ccc; font-size: 15px; border-right: 1px solid #ccc;">1</th>
                                            <td style="padding: 5px; width: 10%; border-bottom: 1px solid #ccc; font-size: 15px; ">@Model.Purpose.ToUpper()</td>
                                            <td style="padding: 5px; width: 10%; border-bottom: 1px solid #ccc; font-size: 15px; border-left: 1px solid #ccc;">@amout.ToString("n")</td>
                                        </tr>
                                        <tr style="border-bottom: 1px solid #ccc;">
                                            <th scope="row" style="padding: 5px; width: 10%; border-bottom: 1px solid #ccc; font-size: 15px; border-right: 1px solid #ccc;">2</th>
                                            <td style="padding: 5px; width: 10%; border-bottom: 1px solid #ccc; font-size: 15px; ">SERVICE CHARGE</td>
                                            <td style="padding: 5px; width: 10%; border-bottom: 1px solid #ccc; font-size: 15px; border-left: 1px solid #ccc;">@charge.ToString("n")</td>
                                        </tr>
                                        <tr style="border-bottom: 1px solid #ccc;">
                                            <th scope="row"></th>
                                            <td style="padding: 5px; width: 10%;  border-right: 1px solid #ccc; font-size: 15px;"><b>TOTAL</b></td>
                                            <td style="padding: 5px; width: 10%; font-size: 15px;"><b>@Model.Amount.ToString("n")</b></td>
                                        </tr>
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <table class="table table-striped table-bordered" style="border: 1px solid #ccc; width: 100%;">
                                    <thead>
                                        <tr style="border-bottom: 1px solid #ccc; ">
                                            <th scope="col" style="padding: 5px; width: 10%; border-bottom: 1px solid #ccc; font-size: 15px; border-right: 1px solid #ccc;">S/N</th>
                                            <th scope="col" style="padding: 5px; width: 80%; border-bottom: 1px solid #ccc;  font-size: 15px; border-right: 1px solid #ccc;">PAYMENT TYPE</th>
                                            <th scope="col" style="padding: 5px; width: 10%; border-bottom: 1px solid #ccc; font-size: 15px;">AMOUNT(N)</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="border-bottom: 1px solid #ccc;">
                                            <th scope="row" style="padding: 5px; width: 10%; border-bottom: 1px solid #ccc; font-size: 15px; border-right: 1px solid #ccc;">1</th>
                                            <td style="padding: 5px; width: 10%; border-bottom: 1px solid #ccc; font-size: 15px; ">@Model.Purpose.ToUpper()</td>
                                            <td style="padding: 5px; width: 10%; border-bottom: 1px solid #ccc; font-size: 15px; border-left: 1px solid #ccc;">@Model.Amount.ToString("n")</td>
                                        </tr>
                                        <tr style="border-bottom: 1px solid #ccc;">
                                            <th scope="row"></th>
                                            <td style="padding: 5px; width: 10%;  border-right: 1px solid #ccc; font-size: 15px;"><b>TOTAL</b></td>
                                            <td style="padding: 5px; width: 10%; font-size: 15px;"><b>@Model.Amount.ToString("n")</b></td>
                                        </tr>
                                    </tbody>
                                </table>
                            }
                        }
                        else
                        {
                            <table class="table table-striped table-bordered" style="border: 1px solid #ccc; width: 100%;">
                                <thead>
                                    <tr style="border-bottom: 1px solid #ccc; ">
                                        <th scope="col" style="padding: 5px; width: 10%; border-bottom: 1px solid #ccc; font-size: 15px; border-right: 1px solid #ccc;">S/N</th>
                                        <th scope="col" style="padding: 5px; width: 80%; border-bottom: 1px solid #ccc;  font-size: 15px; border-right: 1px solid #ccc;">PAYMENT TYPE</th>
                                        <th scope="col" style="padding: 5px; width: 10%; border-bottom: 1px solid #ccc; font-size: 15px;">AMOUNT(N)</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="border-bottom: 1px solid #ccc;">
                                        <th scope="row" style="padding: 5px; width: 10%; border-bottom: 1px solid #ccc; font-size: 15px; border-right: 1px solid #ccc;">1</th>
                                        <td style="padding: 5px; width: 10%; border-bottom: 1px solid #ccc; font-size: 15px; ">@Model.Purpose.ToUpper()</td>
                                        <td style="padding: 5px; width: 10%; border-bottom: 1px solid #ccc; font-size: 15px; border-left: 1px solid #ccc;">@Model.Amount.ToString("n")</td>
                                    </tr>
                                    <tr style="border-bottom: 1px solid #ccc;">
                                        <th scope="row"></th>
                                        <td style="padding: 5px; width: 10%;  border-right: 1px solid #ccc; font-size: 15px;"><b>TOTAL</b></td>
                                        <td style="padding: 5px; width: 10%; font-size: 15px;"><b>@Model.Amount.ToString("n")</b></td>
                                    </tr>
                                </tbody>
                            </table>
                        }
                    </div>

                    <div class="col-md-12 text-center text-capitalize" style="margin-top: 0px; text-align: center;">

                        <p>
                            <b>Amount in words:</b> @Model.AmountInWords Naira Only
                        </p>
                    </div>

                    @if (Model.Programme != "JUPEB")
                    {
                        <div class="col-md-12 text-center" style="margin-top: 5px; text-align: center;">
                            <br> <hr width="50%">
                            <p class="text-uppercase">FACULTY FINANCE OFFICER</p>
                        </div>

                    }

                    <div class="row">
                        <div class="col-xs-6">
                            <img src="@Url.Content("~/Content/Images/lloydant.png")" style="padding: 3px 20px;" alt="" />
                        </div>

                        @*<div class="col-xs-6 text-right">
                            @if (!string.IsNullOrEmpty(Model.barcodeImageUrl))
                            {
                                <img src="@Model.barcodeImageUrl" alt="Barcode" />
                            }
                        </div>*@
                    </div>
                    <div class="col-md-12 text-center" style="margin-top: 0px;">
                        <button class="btn btn-primary" id="aPrint">Download Receipt</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>