@model Abundance_Nk.Model.Model.RemitaPayment

@{
    ViewBag.Title = "Update RRR";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Update RRR</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.LabelFor(model => model.payment.InvoiceNumber, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.payment.InvoiceNumber, new {@class = "form-control", @placeholder = "Enter Invoice Number / RRR"})
            @Html.ValidationMessageFor(model => model.payment.InvoiceNumber, null, new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </div>
}

@if (Model != null)
{
    <div class="form-horizontal">
        <hr />
        @using (Html.BeginForm("SaveRRR", "RemitaReport/SaveRRR", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.payment.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.payment.Person.FullName, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.payment.Person.FullName, new {@class = "form-control"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.payment.InvoiceNumber, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.payment.InvoiceNumber, new {@class = "form-control"})
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Fee", new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.payment.FeeType.Name, new {@class = "form-control"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RRR, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.RRR, new {@class = "form-control"})
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Update" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
}