@model Abundance_Nk.Model.Entity.MIGRATION_APPLICANTS

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MIGRATION_APPLICANTS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JAMB_REG_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JAMB_REG_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAMES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAMES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LGA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LGA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIRST_CHOICE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIRST_CHOICE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SCORE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SCORE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QUALIFICATION_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QUALIFICATION_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QUALIFICATION_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QUALIFICATION_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEPARTMENT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEPARTMENT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SNO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
