@model Abundance_Nk.Web.Areas.Admin.ViewModels.ChangeCourseViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("SearchResult", "ChangeCourse", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="row">
                            <div>
                                @if (TempData["Message"] != null)
                                {
                                    @Html.Partial("_Message", TempData["Message"])
                                }
                                @if (TempData["Action"] != null)
                                {
                                    <div class="alert alert-dismissible alert-warning">
                                        <button type="button" class="close" data-dismiss="alert">×</button>
                                        <p>@TempData["Action"].ToString()</p>
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="row">
                            <h3>Enter Application Form Number</h3>
                            <hr style="margin-top: 0" />
                            <div class="col-md-12">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            @Html.LabelFor(model => model.ApplicationFormNumber, new {@class = "control-label "})
                                            @Html.TextBoxFor(model => model.ApplicationFormNumber, new {@class = "form-control"})
                                            @Html.ValidationMessageFor(model => model.ApplicationFormNumber, null, new {@class = "text-danger"})
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input class="btn btn-success btn-lg mr5" type="submit" name="submit" id="submit" value="Search" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br />
                    </div>
                </div>

                <div class="col-md-1"></div>
            </div>
        }
    </div>
</div>