@model Abundance_Nk.Model.Model.AdmissionLetter
@{
    Layout = null;
    ViewBag.Title = "Acceptance Letter";
}

<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>
<link href="~/Content/pretty-menu.css" rel="stylesheet" />
<script src="~/Scripts/prettify.js"></script>
<script src="~/Scripts/custom.js"></script>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="text-center">
                    <img src="@Url.Content("~/Content/Images/school_logo.jpg")" alt="" height="60px" />
                    <h3><strong>NNAMDI AZIKIWE UNIVERSITY, AWKA</strong></h3>
                    <h5><strong>SCHOOL OF POSTGRADUATE STUDIES</strong></h5>
                    <h5><strong>ACCEPTANCE OF OFFER SLIP</strong></h5>
                    <br />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-justify " style="font-size: 15px">
            <ol>
                <li><p class="text-bold">Name in Full (Surname First): <strong> <u>@Model.Person.FullName</u> </strong></p></li>
                <li><p class="text-bold">Department: <strong> <u>@Model.Department.Name</u> </strong></p></li>
                <li><p class="text-bold">Faculty: <strong> <u>@Model.Department.Faculty.Name</u> </strong></p></li>
                <li><p class="text-bold">Mode of study : <strong> <u>@Model.PgAdmissionFix.MODE</u> </strong></p></li>
                <li><p class="text-bold">Degree in View: <strong> <u>@Model.Programme.Name</u> </strong></p></li>
                <li><p class="text-bold">Area of Specialization: <strong> <u>@Model.PgAdmissionFix.SPECIALIZATION</u> </strong></p></li>
                <li><p class="text-bold">Declaration of Acceptance </li>
                <p>I accept the offer of admission into:-the programme of <u>@Model.Programme.Name</u>  in the department of <u>@Model.Department.Name</u> for the <u> @Model.Session.Name Session</u> </p>
                <br />
                <p>I hereby attach photocopies of the admission letter and the receipt (@Model.AcceptancePin) in the department for the payment of N @Model.AcceptanceAmount non-refundable fee</u> </p>
                <br />
                <p>Signed:__________________________________________________________________</p>
                <p>Date:____________________________________________________________________</p>
                <mark>Note: Request for deferment of admission would be entertained only after registration</mark>
            </ol>
        </div>
   </div>
</div>