@model Abundance_Nk.Model.Model.AdmissionLetter
@{
    Layout = null;
    ViewBag.Title = "Acceptance Letter";
}

<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>
<link href="~/Content/pretty-menu.css" rel="stylesheet" />
<script src="~/Scripts/prettify.js"></script>
<script src="~/Scripts/custom.js"></script>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div>
                    <center>
                        <table style="margin-bottom: 7px">
                            <tr style="text-align: center">
                                <td><img src="@Url.Content("~/Content/Images/school_logo.jpg")" alt="" height="60px" /></td>
                            </tr>
                            <tr>
                                <td>
                                    <h3><strong>NNAMDI AZIKIWE UNIVERSITY, AWKA</strong></h3>
                                </td>
                               
                            </tr>
                        </table>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ">
            The Registrar,
            <br />
            Nnamdi Azikiwe University,
            <br />
            Awka,
            <br />
            Anambra State
        </div>
        <div class="col-md-6 ">
            <div class="pull-right">
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12 ">
            <div>
                Dear Sir, <br />
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12 text-justify">
            <center>
                <p>
                    <h4 class="sectitle"><b>ACCEPTANCE OF OFFER OF PROVISIONAL ADMISSION </b></h4>
                </p>
            </center>
            <p>
                I, @Model.Person.FullName of @Model.Person.LocalGovernment.Name LGA in @Model.Person.State.Name State of Nigeria hereby accept the offer of admission into the
                Nnamdi Azikiwe University, Awka to pursue a Degree course in @Model.Department.Name at the Faculty of @Model.Department.Faculty.Name under the condition stipulated in your letter of admission,
                reference No. @Model.applicationform.Number
                I accept to abide by all existing regulations and those that the University will make from time to time concerning fees, academic programmes and other University matters.   </p>
            <br />
            <p>
                I accept that, if any time after admission, it is discovered that I do not posses any of the qualifications or satisfy other
                conditions, including entry requirements, on which the admission was based, I shall withdraw from the University if
                and when I am required to do so.
            </p>
            <p>
                I enclose herewith, a non-refundable acceptance fee of =N=@Model.Amount in Bank Draft / Money
                Order / Crossed Postal Order /Teller Number /Cash or University Bursary Receipt No.@Model.AcceptancePin
            </p>
            <br />
            <br />
            <p>
                <b>Your's Faithfully</b>
                <br />
                <b>@Model.Person.FullName</b>
            </p>
        </div>
    </div>
</div>