@using Abundance_Nk.Web.Models
@model Abundance_Nk.Model.Model.AdmissionLetter
@{
    Layout = null;
    ViewBag.Title = "Admission Letter";
}
<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>
<link href="~/Content/pretty-menu.css" rel="stylesheet" />
<script src="~/Scripts/prettify.js"></script>
<script src="~/Scripts/custom.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            alert("");
            window.print();
        });
        $("#aPrint").on('click', function () {
            //$(".printarea").print();
            // return false;
            window.print();
        });
    </script>


<style>
        .d-inline-block {
            display: inline-block;
        }

        .justify-content-center {
            justify-content: center
        }

        .justify-content-between {
            justify-content: space-between
        }

        .d-flex {
            display: flex
        }

        .text-center {
            text-align: center !important
        }

        .mt-4 {
            margin-top: 1rem
        }

        .mt-0 {
            margin-top: 0 !important
        }

        .border-top {
            border-top: 1px solid #eee
        }

        .border-bottom {
            border-bottom: 1px solid #eee
        }

        .border-bottom-bold {
            border-bottom: 1px solid #000;
        }

        .mr-20px {
            margin-right: 20px !important;
        }

        .mb-30px {
            margin-bottom: 30px !important;
        }

        .mb-20px {
            margin-bottom: 20px !important;
        }

        .mt-30px {
            margin-top: 30px !important;
        }

        .mt-20px {
            margin-top: 20px !important;
        }

        .font-weight-bold {
            font-weight: bold;
        }

        .my-auto {
            margin-top: auto;
            margin-bottom: auto;
        }

        .text-italic {
            font-style: italic;
        }

        .text-underline {
            text-decoration: underline;
        }

        .list-mb {
            margin-bottom: 15px;
        }

        .px-10px {
            padding-left: 10px;
            padding-right: 10px;
        }
    </style>

    <div class="container">
        <div class="row justify-content-center mb-20px">
            <div class="col-lg-12">
                <div class="d-flex text-center justify-content-center mt-4">
                    <img class="d-inline mr-20px" src="@Url.Content("~/Content/Images/school_logo.jpg")" width="100px" height="auto" />

                    <div class="my-auto">
                        <h2 class="d-inline mt-0 font-weight-bold">NNAMDI AZIKIWE UNIVERSITY, AWKA</h2>
                        <h4>ASSOCIATE PROGRAMME(ACP) UNIT</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="border border-top border-bottom mb-30px">
            <div class="d-flex mb-30px justify-content-between">
                <h5 class="d-inline-block">Our Ref: NAU/ACP/38</h5>
                <h5 class="d-inline-block">P.M.B 5025 </h5>
            </div>

            <div class="d-flex justify-content-between">
                <h5 class="d-inline-block">Your Ref:</h5>
                <h5 class="d-inline-block">Awka, Nigeria</h5>
            </div>
        </div>

        <div class="mb-30px">
            <h4 class="font-weight-bold">@Model.Person.FullName</h4>

            <h3 class="text-center font-weight-bold">LETTER OF ADMISSION</h3>

            <p class="mt-30px">
                I am pleased to inform you that you have been offered provisional admission into the Department of
                <span class="font-weight-bold px-10px border-bottom-bold"> @Model.Department.Name.ToUpper() </span> in the Faculty of <span class="font-weight-bold px-10px border-bottom-bold"> @Model.Department.Faculty.Name.ToUpper() </span>
                for the <span class="font-weight-bold px-10px border-bottom-bold"> @Model.applicationform.Payment.Session.Name</span>academic year.
            </p>

            <p>
                The Duration of the Study is <span class="font-weight-bold px-10px border-bottom-bold"> @Model.DepartmentDuration YEARS </span>
            </p>

            <p>
                The following conditions apply:
            </p>

            <ol>
                <li class="list-mb">The offer is for the Associate Certificate Programme (ACP)</li>

                <li class="list-mb">You will be required to produce the originals of any claimed certificates as well as other personal documents, including evidence of age.</li>

                <li class="list-mb">If at any time during your studentship in the University, it is discovered that the information on the basis of which this offer is made is false, you will be required to withdraw from the University.</li>

                <li class="list-mb">The Associate Certificate Programme is non-residential; therefore the University will not provide accomodation for its students in the programme.</li>
                <li class="list-mb">Regulations concerning fees and other matters will be made from time to time and will be binding on all students.</li>
            </ol>

            <p>Congratulations and accept our best wishes for a successful stay in the University.</p>

            <h5 class="text-italic font-weight-bold text-center mt-30px">Note: You are asked to keep all receipts for payments made to the University as you will be required to produce them from time to time.</h5>

            <br />
            <br />

            <p class="pull-left">
                <img src="~/Content/AcpSignature.jpg" width="100" height="40" />
                <br />
                <strong>Umeatuegbu J.C(Mrs) </strong>  <br />
                <strong>PAR,Sandwich</strong>  <br />
                <strong>For REGISTRAR</strong>
            </p>
            <div class="pull-right">
                <img src="@Model.QRVerification" width="100" height="100"/>
                @*@Html.GenerateQrCode(Model.QRVerification)*@
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <button id="aPrint" class="print btn btn-primary-alt"><i class="fa fa-print mr5"></i> Print</button>

    </div>

@*<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .d-inline-block {
            display: inline-block;
        }

        .justify-content-center {
            justify-content: center
        }

        .justify-content-between {
            justify-content: space-between
        }

        .d-flex {
            display: flex
        }

        .flex-wrap {
            flex-wrap: wrap;
        }

        .text-center {
            text-align: center !important
        }

        .mt-4 {
            margin-top: 1rem
        }

        .mt-0 {
            margin-top: 0 !important
        }

        .border-top {
            border-top: 1px solid #eee
        }

        .border-bottom {
            border-bottom: 1px solid #eee
        }

        .border-bottom-bold {
            border-bottom: 1px solid #000;
        }

        .mr-20px {
            margin-right: 20px !important;
        }

        .mb-30px {
            margin-bottom: 30px !important;
        }

        .mb-20px {
            margin-bottom: 20px !important;
        }

        .mt-30px {
            margin-top: 30px !important;
        }

        .mt-20px {
            margin-top: 20px !important;
        }

        .font-weight-bold {
            font-weight: bolder;
        }

        .my-auto {
            margin-top: auto;
            margin-bottom: auto;
        }

        .text-italic {
            font-style: italic;
        }

        .text-underline {
            text-decoration: underline;
        }

        .list-mb {
            margin-bottom: 15px;
        }

        .px-10px {
            padding-left: 10px;
            padding-right: 10px;
        }

        .ml-20px {
            margin-left: 20px;
        }

        @@media only screen and (min-device-width: 576px) {
            .container {
                max-width: 540px;
            }
        }

        @@media only screen and (min-device-width: 768px) {
            .container {
                max-width: 720px;
            }
        }

        @@media only screen and (min-device-width: 992px) {
            .container {
                max-width: 960px;
            }
        }

        @@media only screen and (min-device-width: 1200px) {
            .container {
                max-width: 1140px;
            }
        }

        .container {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }

        .grid-left {
            grid-area: left;
        }

        .grid-right {
            grid-area: right;
        }

        .grid-container {
            display: grid;
            grid-template-areas: "left left right right";
            grid-gap: 10px;
            padding: 10px;
        }

        .mr-30px {
            margin-right: 200px;
        }

        .mt-50px {
            margin-top: 50px
        }
    </style>
</head>
<body>
    <div class="container" id="printarea">
        <div class="row justify-content-center mb-20px">
            <div class="col-lg-12">
                <div class="d-flex text-center justify-content-center mt-4">
                    <img class="d-inline mr-20px" src="@Url.Content("~/Content/Images/school_logo.jpg")" width="100px" height="auto" />
                    <div class="my-auto">
                        <h2 class="d-inline mt-0 font-weight-bold">NNAMDI AZIKIWE UNIVERSITY, AWKA</h2>
                        <h4>CONTINUING EDUCATION PROGRAMME (CEP) UNIT</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="border border-top ">
            <h3 class="d-inline-block">Personal Information</h3>
        </div>
        <div class="d-flex flex-wrap">
            <img class="d-inline mr-20px" src="@Url.Content(Model.Person.ImageFileUrl)" height="200px" />
            <div>
                <div class="grid-container">
                    <div class="grid-left">
                        <p class="font-weight-bold mt-0">Surname: </p>
                    </div>
                    <div class="grid-right">
                        <p class="mt-0">@Model.Person.LastName</p>
                    </div>
                </div>
                <div class="grid-container">
                    <div class="grid-left">
                        <p class="font-weight-bold mt-0">Name: </p>
                    </div>
                    <div class="grid-right">
                        <p class="mt-0">@Model.Person.FirstName</p>
                    </div>
                </div>
                <div class="grid-container">
                    <div class="grid-left">
                        <p class="font-weight-bold mt-0">Other Names: </p>
                    </div>
                    <div class="grid-right">
                        <p class="mt-0">@Model.Person.OtherName</p>
                    </div>
                </div>
                <div class="grid-container">
                    <div class="grid-left">
                        <p class="font-weight-bold mt-0">Date of Birth: </p>
                    </div>
                    <div class="grid-right">
                        <p class="mt-0">@Model.Person.DateOfBirth.Value.ToLongDateString()</p>
                    </div>
                </div>
                <div class="grid-container">
                    <div class="grid-left">
                        <p class="font-weight-bold mt-0">Sex: </p>
                    </div>
                    <div class="grid-right">
                        <p class="mt-0">@Model.Person.Sex.Name</p>
                    </div>
                </div>
                <div class="grid-container">
                    <div class="grid-left">
                        <p class="font-weight-bold mt-0">State: </p>
                    </div>
                    <div class="grid-right">
                        <p class="mt-0">@Model.Person.State.Name</p>
                    </div>
                </div>
                <div class="grid-container">
                    <div class="grid-left">
                        <p class="font-weight-bold mt-0">LGA: </p>
                    </div>
                    <div class="grid-right">
                        <p class="mt-0">@Model.Person.LocalGovernment.Name</p>
                    </div>
                </div>
                <div class="grid-container">
                    <div class="grid-left">
                        <p class="font-weight-bold mt-0">Nationality: </p>
                    </div>
                    <div class="grid-right">
                        <p class="mt-0">@Model.Person.Nationality.Name</p>
                    </div>
                </div>
                <div class="grid-container">
                    <div class="grid-left">
                        <p class="font-weight-bold mt-0">Residential Address: </p>
                    </div>
                    <div class="grid-right">
                        <p class="mt-0">@Model.Person.ContactAddress</p>
                    </div>
                </div>
                <div class="grid-container">
                    <div class="grid-left">
                        <p class="font-weight-bold mt-0">Phone No: </p>
                    </div>
                    <div class="grid-right">
                        <p class="mt-0">@Model.Person.MobilePhone</p>
                    </div>
                </div>
                <div class="grid-container">
                    <div class="grid-left">
                        <p class="font-weight-bold mt-0">Email: </p>
                    </div>
                    <div class="grid-right">
                        <p class="mt-0">@Model.Person.Email</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="border border-top mt-50px">
            <h3 class="d-inline-block">Academic Program</h3>
        </div>
        <div class="d-flex flex-wrap">
            <div class="mr-30px">
                <h4>First Choice Course</h4>
                <p class="mt-20px"><span class="font-weight-bold"> Faculty: </span>  @Model.Department.Faculty.Name</p>
                <p class="mt-20px"><span class="font-weight-bold"> Department: </span>  @Model.Department.Name</p>
            </div>
            <div>
                <h4>Second Choice Course</h4>
                <p class="mt-20px"><span class="font-weight-bold"> Faculty: </span> </p>
                <p class="mt-20px"><span class="font-weight-bold"> Department: </span> </p>
            </div>
        </div>

        <div class="border border-top mt-50px">
            <h3 class="d-inline-block">Aptitude Test Score</h3>
        </div>
        <div class="d-flex flex-wrap">
            <p class="mr-30px">Score</p>
            <h3>@Model.Cep_Admission_Fix.Score%</h3>
        </div>

        <div class="border border-top mt-50px">
            <h3 class="d-inline-block">Admitted Into</h3>
        </div>
        <div class="mb-30px">
            <p class="mr-30px">First Choice Course</p>
            <p class="mt-20px"><span class="font-weight-bold"> Faculty: </span> @Model.Department.Faculty.Name </p>
            <p class="mt-20px"><span class="font-weight-bold"> Department: </span> @Model.Department.Name</p>
        </div>
        <div class="border border-top mt-50px">
            <h3 class="d-inline-block">Admission Status</h3>
        </div>
        <div class="mb-30px">

            <p class="mt-20px"><span class="font-weight-bold"> Admission Status: ADMITTED  </span></p>
            <p class="mt-20px"><span class="font-weight-bold"> Mode of Admission:  CEP </span></p>
        </div>
        <div class="border border-top mt-50px">
            <h3 class="d-inline-block">INSTRUCTION</h3>
        </div>
        <div class="mb-30px">

            <p class="mt-20px"><span class="font-weight-bold"> Congratulation on your Admission into Nnamdi Azikiwe University. </span> </p>
            <p class="mt-20px"><span class="font-weight-bold"> Please Proceed to the CEP ICT Center in Utility building upstairs. </span> </p>

            <p class="mt-20px"><span class="font-weight-bold">There you Generate a Remita Retrieval Reference(RRR) for the payment of an acceptance of (NGN) 47000  </span> </p>
            <p class="mt-20px"><span class="font-weight-bold">Proceed with the RRR printout to any bank within the university Campus to make your Acceptance Fee Payment.  </span> </p>

            <p class="mt-20px"><span class="font-weight-bold"> Come back  to the CEP ICT center in the utility building upstairs in the library basement confirm your payment and fillout your E-Clearance form.  </span> </p>
            <p class="mt-20px"><span class="font-weight-bold"> Further Instructions on how to complete your registration will be listed out on the E-Clearance form. </span> </p>


        </div>
        <div class="pull-right">
            @Html.GenerateQrCode(Model.QRVerification)
        </div>
    </div>

    <div class="col-md-12">
        <button id="aPrint" class="print btn btn-primary-alt"><i class="fa fa-print mr5"></i> Print</button>
     
    </div>
</body>
</html>*@
