@using Abundance_Nk.Web.Models
@model Abundance_Nk.Model.Model.AdmissionLetter
@{
    Layout = null;
    ViewBag.Title = "Admission Letter";
}
<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>
<link href="~/Content/pretty-menu.css" rel="stylesheet" />
<script src="~/Scripts/prettify.js"></script>
<script src="~/Scripts/custom.js"></script>

<div class="container">

    <div class="row">
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">

                <img class="pull-left" src="@Url.Content("~/Content/Images/school_logo.jpg")" width="100px" height="100px" />
            </div>
            <div class="col-md-10">
                <div class="row">
                    <h3>NNAMDI AZIKIWE UNIVERSITY, AWKA</h3>
                    <div class="pull-left">
                        <p class="text-capitalize">
                            p.m.b 5025 <br /> Awka <br /> Anambra state, nigeria
                        </p>
                    </div>
                    <div class="pull-right">
                        <p>
                            website: www.unizik.edu.ng <br />
                            email:  <br />
                            phone: 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="col-md-12">
        <div class="row pull-left">

            <b>Vice Chancellor:</b> <br />
            Professor Charles O. Esimone <cite>B.Pharm, M.Pharm, PhD</cite> <br />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 pull-left">
            <p class="text-uppercase"> </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-justify">
            <p>
            Name of Candidate: <strong>@Model.Person.FullName</strong> <br /><br />
            Dear Sir / Madam <br />
            <p class="text-center">
                <h4 class="sectitle"><strong>OFFER OF PROVISIONAL ADMISSION INTO @Model.Programme.Description.ToUpper() DEGREE  PROGRAMME</strong> </h4>
            </p>
            <p>
                We are pleased to inform you that you have been offered provisional admission into the Nnamdi Azikiwe University to pursue a degree programme in:

                <div>
                    <p>Discipline: <strong>@Model.Department.Name.ToUpper()</strong> </p>
                    <p>College / Faculty: <strong>@Model.Department.Faculty.Name.ToUpper()</strong></p>
                    <p>Jamb Number : <strong>@Model.JambNumber</strong></p>
                    <p>Academic Session : <strong>@Model.Session.Name.ToUpper()</strong> </p>
                </div>
            </p>

            <p>
                <ol>

                    <li>You are required to generate an acceptance fee invoice online and proceed to the bank to make payment using the invoice number written on the invoice.</li>
                    <li>Any offer not accepted within two weeks from date of this offer lapses.</li>
                    <li>The confirmation of this offer is subject to your possession of the general as well as the specific departmental entry requirements for the course into which you have been offered admission</li>
                    <li>Please note that this provisional admission notice is not a substitute for JAMB Admission letter..</li>
                </ol>
                Please accept our congratulations.
            </p>

            <p>
                Yours sincerely
            </p>
            <p class="pull-left">
                @*<img src=@Url.Content("~/Content/Images/Registrar_signature.jpg") alt="" style="max-height: 50px" />*@
                <br />
                <strong>Barr. Philomena Iwara Okoye</strong>  <br />
                <strong>Registrar (Admissions)</strong>  <br />
            </p>
            <div class="pull-right">
               
                @Html.GenerateQrCode(Model.QRVerification)
            </div>
        </div>
    </div>
</div>