@model Abundance_Nk.Model.Model.PostUtmeResult

@{
    ViewBag.Title = "PUTME RESULT SLIP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>PUTME Result Slip</title>
    </head>
    <body>

        <div class="alert alert-success fade in" style="border: 1px solid green">
            <div>
                <table style="margin-bottom: 7px">
                    <tr>
                        <td style="padding-right: 17px"><img src="@Url.Content("~/Content/Images/school_logo.jpg")" alt="" /></td>
                        <td>
                            <h2>PUTME Result Slip</h2>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div>

            <div class="row">
                <div class="col-md-12" style="text-align: justify">
                    <p>
                        <h3>@Html.DisplayFor(model => model.Fullname)</h3>
                    </p>

                    <p>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <table class="table table-responsive table-condensed ">
                                    <thead>
                                        <tr>
                                            <td><b>Course</b></td>
                                            <td><b>Score</b></td>
                                            <td><b>Remarks</b></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>ENGLISH</td>
                                            <td>@Html.DisplayFor(model => model.Eng)</td>
                                            <td>--</td>
                                        </tr>
                                        <tr>
                                            <td>@Html.DisplayFor(model => model.Sub2)</td>
                                            <td>@Html.DisplayFor(model => model.Scr2)</td>
                                            <td>--</td>
                                        </tr>
                                        <tr>
                                            <td>@Html.DisplayFor(model => model.Sub3)</td>
                                            <td>@Html.DisplayFor(model => model.Scr3)</td>
                                            <td>--</td>
                                        </tr>
                                        <tr>
                                            <td>@Html.DisplayFor(model => model.Sub4)</td>
                                            <td>@Html.DisplayFor(model => model.Scr4)</td>
                                            <td>--</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br />
                                Your Total Score is <strong> @Html.DisplayFor(model => model.Total)</strong> and your Jamb Registration Number/Application Number is <strong> @Html.DisplayFor(model => model.Regno)</strong>
                            </div>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>