@model IEnumerable<Abundance_Nk.Model.Entity.DEPARTMENT>
@{
    ViewBag.Title = " ";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Department_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department_Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FACULTY.Faculty_Name)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Department_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department_Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FACULTY.Faculty_Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Department_Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Department_Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Department_Id })
            </td>
        </tr>
    }
    
    </table>
