@model Abundance_Nk.Web.Areas.Admin.ViewModels.HostelViewModel
@{
    ViewBag.Title = "Edit Hostel Rooms";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $("#Hostel").change(function () {
            $("#Series").empty();

            var hostel = $("#Hostel").val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetHostelSeries", "HostelAllocation")', // we are calling json method
                dataType: 'json',
                data: { id: hostel },
                success: function (series) {
                    $("#Series").append('<option value="' + 0 + '"> -- Select -- </option>');
                    $.each(series, function (i, Option) {
                        $("#Series").append('<option value="' + Option.Value + '">' + Option.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve hostel series.' + ex);
                }
            });
        });

    });

    function ReserveAll() {
        if ($('#ReserveAllId').is(':checked')) {
            $('.Reserve').prop('checked', true);
        }
        else {
            $('.Reserve').prop('checked', false);
        }
    }

    function ActivateAll() {
        if ($('#ActivateAllId').is(':checked')) {
            $('.Activate').prop('checked', true);
        }
        else {
            $('.Activate').prop('checked', false);
        }
    }

</script>

<div class="col-md-12">
    <div class="col-md-1"></div>
    <div class="col-md-10">

        <div>
            @if (TempData["Message"] != null)
            {
                @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
            }
        </div>

        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading panel-dark-head">
                    <h4>Edit Hostel Rooms</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            @using (Html.BeginForm("EditHostelRooms", "HostelAllocation", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                <div class="row">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.HostelRoom.Hostel.Id, "Select Hostel: ", new { @class = "control-label col-md-4" })
                                        <div class="col-md-6 pull-left">
                                            @Html.DropDownListFor(model => model.HostelRoom.Hostel.Id, (IEnumerable<SelectListItem>)ViewBag.HostelId, new { @class = "form-control", @required = "required", @Id = "Hostel" })
                                            @Html.ValidationMessageFor(model => model.HostelRoom.Hostel.Id, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.HostelRoom.Series.Id, "Select Series/Floor: ", new { @class = "control-label col-md-4" })
                                        <div class="col-md-6 pull-left">
                                            @Html.DropDownListFor(model => model.HostelRoom.Series.Id, (IEnumerable<SelectListItem>)ViewBag.HostelSeriesId, new { @class = "form-control", @required = "required", @Id = "Series" })
                                            @Html.ValidationMessageFor(model => model.HostelRoom.Series.Id, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-offset-4 col-md-6">
                                            <input type="submit" value="Edit Rooms" class="btn btn-success" /> 
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                </div>
            </div>

            @if (Model.RoomSettings != null && Model.RoomSettings.Count > 0)
            {
                using (Html.BeginForm("SaveEditedRooms", "HostelAllocation", FormMethod.Post))
                {
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">

                                <div class="col-md-12">
                                    <table class="table table-bordered table-hover table-striped">
                                        <tr>
                                            <th>Room Number</th>
                                            <th><input type="checkbox" id="ReserveAllId" onclick="ReserveAll()" /> Reserved</th>
                                            <th><input type="checkbox" id="ActivateAllId" onclick="ActivateAll()" /> Room Activation</th>
                                            @foreach (string cornerName in Model.Corners)
                                            {
                                                <th>Bed Space @cornerName</th>
                                            }
                                        </tr>

                                        @for (int i = 0; i < Model.RoomSettings.Count; i++)
                                        {
                                            <tr>
                                                @Html.HiddenFor(model => model.RoomSettings[i].HostelRoom.Number) 
                                                @Html.HiddenFor(model => model.RoomSettings[i].HostelRoom.Id)
                                                @Html.HiddenFor(model => model.HostelRoom.Series.Id)
                                                @Html.HiddenFor(model => model.HostelRoom.Hostel.Id)


                                                <td>@Model.RoomSettings[i].HostelRoom.Number</td>
                                                <td>@Html.CheckBoxFor(model => model.RoomSettings[i].HostelRoom.Reserved, new { @type = "checkbox", @class = "Reserve" })</td>
                                                <td>@Html.CheckBoxFor(model => model.RoomSettings[i].HostelRoom.Activated, new { @type = "checkbox", @class = "Activate" })</td>
                                               
                                                @for (int j = 0; j < Model.RoomSettings[i].HostelRoomCorners.Count; j++)
                                                {
                                                    <td>@Html.CheckBoxFor(model => model.RoomSettings[i].HostelRoomCorners[j].Activated)</td>
                                                    @Html.HiddenFor(model => model.RoomSettings[i].HostelRoomCorners[j].Name)
                                                    @Html.HiddenFor(model => model.RoomSettings[i].HostelRoomCorners[j].Id)
                                                }
                                            </tr>
                                        }
                                    </table>

                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <input type="submit" value="Save" class="btn btn-success" />
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                }

            }

        </div>

    </div>
    <div class="col-md-1"></div>
</div>
