@model Abundance_Nk.Web.Areas.Admin.ViewModels.HostelViewModel
@{
    ViewBag.Title = "SetAllocationCount";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>

<script type="text/javascript">

    var allocationCounts = [];

    function reloadTable() {
        var campusId = event.target.value;

        if (campusId > 0) {
            showLoading();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetHostelAllocationCount", "HostelAllocation")', // Calling json method
                dataType: 'json',
                data: { campusId: campusId },
                success: function (result) {
                    if (!result.IsError) {
                        if (result.AllocationCountModels && result.AllocationCountModels.length > 0) {
                            allocationCounts = [];
                            $.each(result.AllocationCountModels, function (i, model) {
                                allocationCounts.push(model);
                            });

                            populateTable();
                        }

                    } else {
                        alert(result.Message);
                    }

                    dismissLoading();
                },
                error: function (ex) {
                    alert('Failed.' + ex);
                    dismissLoading();
                }
            });
        }
    }

    function populateTable() {
        $("#tbl_count").empty();

        $.each(allocationCounts, function(i, model) {
            $("#tbl_count").append('<tr><td>' + model.Level + '</td><td>' + model.Sex + '</td><td><input type="number" value="' + model.Free + '" onchange="updateCount(1, ' + model.HostelAllocationCountId +
                                    ')"/></td><td><input type="number" value="' + model.Reserved + '" onchange="updateCount(2, ' + model.HostelAllocationCountId +
                                    ')"/></td><td><input type="number" disabled="disabled" value="' + model.TotalCount + '"/></td><td>' + model.LastModified + '</td></tr>');
        });
    }

    function updateCount(countType, allocationId) {
        if (countType, allocationId) {
            $.each(allocationCounts, function(i, item) {
                if (item.HostelAllocationCountId === allocationId) {
                    if (countType === 1) {
                        item.Free = parseInt(event.target.value);
                    } else {
                        item.Reserved = parseInt(event.target.value);
                    }

                    item.TotalCount = item.Free + item.Reserved;
                }
            });

            populateTable();
        }
    }

    function saveAllocationCount() {
        if (allocationCounts.length <= 0) {
            alert("Nothing to change.");
            return;
        }

        showLoading();

        var myAllocationCount = JSON.stringify(allocationCounts);

        $.ajax({
            type: 'POST',
            url: '@Url.Action("SaveHostelAllocationCount", "HostelAllocation")', // Calling json method
            dataType: 'json',
            data: { allocationCounts: myAllocationCount },
            success: function (result) {
                alert(result.Message);
                dismissLoading();
            },
            error: function (ex) {
                alert('Failed.' + ex);
                dismissLoading();
            }
        });
    }

    function showLoading() {
        $("#btn_save").hide();
        $("#progress").show();
    }

    function dismissLoading() {
        $("#btn_save").show();
        $("#progress").hide();
    }

</script>

<div class="col-md-12">
    <div class="col-md-1"></div>
    <div class="col-md-10">

        <div>
            @if (TempData["Message"] != null)
            {
                @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
            }
        </div>

        <div class="panel panel-default">
            <div class="panel-heading panel-dark-head">
                <h4>Set Hostel Allocation Count</h4>
            </div>

            <div class="panel-body">
                @*@if (Model.HostelAllocationCounts != null && Model.HostelAllocationCounts.Count > 0)
                {*@
                    <div class="panel panel-danger">
                        <div class="panel-body">
                            @*@using (Html.BeginForm("SetAllocationCount", "HostelAllocation", new { Area = "Admin" }, FormMethod.Post))
                            {*@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Campus.Id, "Select Campus", new {@class = "control-label col-md-1"})
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(model => model.Campus.Id, (IEnumerable<SelectListItem>) ViewBag.Campus, new {@class = "form-control", onchange="reloadTable()"})
                                        @Html.ValidationMessageFor(model => model.Campus.Id, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                                <br/>
                                <br/>
                                <table class="table-bordered table-hover table-striped table-responsive table">
                                    <thead>
                                        <tr>
                                            <th>
                                                Level
                                            </th>
                                            <th>
                                                Hostel Type
                                            </th>
                                            <th>
                                                Number For Free Rooms
                                            </th>
                                            <th>
                                                Number For Reserved Rooms
                                            </th>
                                            <th>
                                                Total Number
                                            </th>
                                            <th>
                                                Last Modified Date
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody id="tbl_count"></tbody>

                                </table>
                                <br />
                                <div class="form-group">
                                    <div class=" col-md-10">
                                        <input type="submit" id="btn_save" value="Save" onclick="saveAllocationCount()" class="btn btn-success"/>
                                        <button class="btn btn-success" style="display: none" disabled="disabled" id="progress"><img src="~/Content/Images/bx_loader.gif" style="width: 20px; height: 20px" /></button>
                                    </div>
                                </div>
                            @*}*@
                        </div>
                    </div>
                @*}*@
            </div>

        </div>
    </div>
    <div class="col-md-1"></div>
</div>



