@model Abundance_Nk.Web.Areas.Admin.ViewModels.HostelViewModel
@{
    ViewBag.Title = "Upload Hostel Allocation";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/Scripts/DataTables-1.10.15/media/js/jquery.js"></script>

 <link href="~/Scripts/DataTables-1.10.15/media/css/jquery.dataTables.css" rel="stylesheet"/>
    <script src="~/Scripts/DataTables-1.10.15/media/js/jquery.dataTables.js"></script>
    <link href="~/Scripts/DataTables-1.10.15/extensions/Buttons/css/buttons.dataTables.css" rel="stylesheet"/>
    <script src="~/Scripts/DataTables-1.10.15/extensions/Buttons/js/dataTables.buttons.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/extensions/Buttons/js/buttons.colVis.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/extensions/Responsive/js/dataTables.responsive.js"></script>
    @*<script src="~/Scripts/dataTables.js"></script>
    <link href="~/Content/dataTables.css" rel="stylesheet"/>*@

    <script src="~/Scripts/DataTables-1.10.15/buttons.flash.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/buttons.html5.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/buttons.print.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/jszip.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/pdfmake.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/vfs_fonts.js"></script>


    <script type="text/javascript">


        $(document).ready(function() {

            $.extend($.fn.dataTable.defaults, {
                responsive: true
            });

            $('.dataTable').DataTable({
                dom: 'Bfrtip',
                ordering: true,
                buttons: [
                    {
                        extend: 'copy',
                        exportOptions: {
                            columns: ':visible'
                        }


                    },
                    {
                        extend: 'csv',
                        exportOptions: {
                            columns: ':visible'
                        }

                    },
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: ':visible'
                        }


                    },
                    {
                        extend: 'pdf',
                        exportOptions: {
                            columns: ':visible'
                        }


                    },
                    {
                        extend: 'print',
                        exportOptions: {
                            columns: ':visible'
                        }


                    },, 'colvis'
                ]
            });


        });
</script>

<div class="col-md-12">
    <div class="col-md-1"></div>
    <div class="col-md-10">

        <div>
            @if (TempData["Message"] != null)
            {
                @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
            }
        </div>

        <div class="panel panel-default">
            <div class="panel-heading panel-dark-head">
                <h4>Hostel Allocation</h4>
            </div>
            <div class="panel-body">

                @using (Html.BeginForm("UploadHostelAllocation", "HostelAllocation", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="col-md-12">

                        <div class="row">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Session.Name, "Session:", new {@class = "col-md-2 control-label"})
                                <div class="col-md-9">
                                    @Html.DropDownListFor(m => m.Session.Id, (IEnumerable<SelectListItem>) ViewBag.Session, new {@class = "form-control", @required = "required"})
                                    @Html.ValidationMessageFor(m => m.Session.Id, null, new {@class = "text-danger"})
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-9">
                                    <input type="file" title="Upload Result" id="file" name="file" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-6">
                                    <input class="btn btn-success mr5" type="submit" name="submit" id="submit" value="Submit" />
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <br/>

            <div class="panel-body">
                @if (Model.HostelAllocations != null && Model.HostelAllocations.Count > 0)
                {
                    <div class="panel panel-danger">
                        <div class="panel-body table-responsive">

                            <table class="table-bordered table-hover table-striped table-responsive table dataTable">
                                <thead>
                                    <tr>
                                        <th>
                                            SN
                                        </th>
                                        <th>
                                            Hostel
                                        </th>
                                        <th>
                                            Series/Floor
                                        </th>
                                        <th>
                                            Room
                                        </th>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Matric Number
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.HostelAllocations.Count; i++)
                                    {
                                        var sn = i + 1;
                                        <tr>
                                            <td>@sn</td>
                                        <td>
                                            @Model.HostelAllocations[i].HostelName
                                        </td>
                                        <td>
                                            @Model.HostelAllocations[i].SeriesName
                                        </td>
                                        <td>
                                            @Model.HostelAllocations[i].RoomName
                                        </td>
                                        <td>
                                            @Model.HostelAllocations[i].FullName
                                        </td>
                                        <td>
                                            @Model.HostelAllocations[i].Student.MatricNumber
                                        </td>
                                    </tr>
                                    }
                                </tbody>

                            </table>
                            <div class="row">
                                @Html.ActionLink("Save", "SaveHostelAllocation", new {controller = "HostelAllocation", area = "Admin"}, new { @class = "btn btn-success"})
                            </div>
                        </div>
                    </div>
                }
            </div>

            @if (Model.SuccessfulAllocations != null && Model.SuccessfulAllocations.Count > 0)
            {
                <div class="panel panel-danger">
                    <div class="panel-heading">Successful Allocations</div>
                    <div class="panel-body table-responsive">

                        <table class="table-bordered table-hover table-striped table-responsive table dataTable" >
                            <thead>
                                <tr>
                                    <th>
                                        SN
                                    </th>
                                    <th>
                                        Hostel
                                    </th>
                                    <th>
                                        Series/Floor
                                    </th>
                                    <th>
                                        Room
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Matric Number
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.SuccessfulAllocations.Count; i++)
                                {
                                    var sn = i + 1;
                                    <tr>
                                        <td>@sn</td>
                                        <td>
                                            @Model.SuccessfulAllocations[i].HostelName
                                        </td>
                                        <td>
                                            @Model.SuccessfulAllocations[i].SeriesName
                                        </td>
                                        <td>
                                            @Model.SuccessfulAllocations[i].RoomName
                                        </td>
                                        <td>
                                            @Model.SuccessfulAllocations[i].FullName
                                        </td>
                                        <td>
                                            @Model.SuccessfulAllocations[i].Student.MatricNumber
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            }
            @if (Model.FailedAllocations != null && Model.FailedAllocations.Count > 0)
            {
                <div class="panel panel-danger">
                    <div class="panel-heading">Failed Allocations</div>
                    <div class="panel-body table-responsive">

                        <table class="table-bordered table-hover table-striped table-responsive table dataTable">
                            <thead>
                                <tr>
                                    <th>
                                        SN
                                    </th>
                                    <th>
                                        Hostel
                                    </th>
                                    <th>
                                        Series/Floor
                                    </th>
                                    <th>
                                        Room
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Matric Number
                                    </th>
                                    <th>
                                        Reason
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.FailedAllocations.Count; i++)
                                {
                                    var sn = i + 1;
                                    <tr>
                                        <td>@sn</td>
                                        <td>
                                            @Model.FailedAllocations[i].HostelName
                                        </td>
                                        <td>
                                            @Model.FailedAllocations[i].SeriesName
                                        </td>
                                        <td>
                                            @Model.FailedAllocations[i].RoomName
                                        </td>
                                        <td>
                                            @Model.FailedAllocations[i].FullName
                                        </td>
                                        <td>
                                            @Model.FailedAllocations[i].Student.MatricNumber
                                        </td>
                                        <td>
                                            @Model.FailedAllocations[i].Reason
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            }

        </div>
    </div>
    <div class="col-md-1"></div>
</div>

