@model Abundance_Nk.Web.Areas.Admin.ViewModels.HostelViewModel
@{
    ViewBag.Title = "Vacant BedSpaces";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/Scripts/DataTables-1.10.15/media/js/jquery.js"></script>

    <script type="text/javascript">

        $(document).ready(function() {

            $('#myTable').DataTable();

        });
</script>

<div class="col-md-12">
    <div class="col-md-1"></div>
    <div class="col-md-10">

        <div>
            @if (TempData["Message"] != null)
            {
                @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
            }
        </div>

        <div class="panel panel-default">
            <div class="panel-heading panel-dark-head">
                <h4>Vacant Bedspaces</h4>
            </div>
            <div class="panel-body">

                @using (Html.BeginForm("ViewVacantBedSpaces", "HostelAllocation", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="col-md-12">

                        <div class="row">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Hostel.Name, "Hostel:", new { @class = "col-md-2 control-label" })
                                <div class="col-md-9">
                                    @Html.DropDownListFor(m => m.Hostel.Id, (IEnumerable<SelectListItem>)ViewBag.Hostel, new { @class = "form-control", @required = "required" })
                                    @Html.ValidationMessageFor(m => m.Hostel.Id, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-6">
                                    <input class="btn btn-success mr5" type="submit" name="submit" id="submit" value="Submit" />
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <br/>

            <div class="panel-body">
                @if (Model.HostelAllocations != null && Model.HostelAllocations.Count > 0)
                {
                    <div class="panel panel-danger">
                        <div class="panel-body table-responsive">

                            <table class="table-bordered table-hover table-striped table-responsive table" id="myTable">
                                <thead>
                                    <tr>
                                        <th>
                                            Hostel
                                        </th>
                                        <th>
                                            Series/Floor
                                        </th>
                                        <th>
                                            Room
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            BedSpace
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.HostelAllocations.Count; i++)
                                    {
                                        <tr>

                                            @Html.HiddenFor(model => model.HostelAllocations[i].Id)

                                            <td>
                                                @Model.HostelAllocations[i].HostelName
                                            </td>
                                            <td>
                                                @Model.HostelAllocations[i].SeriesName
                                            </td>
                                            <td>
                                                @Model.HostelAllocations[i].RoomName
                                            </td>
                                            <td>
                                                @Model.HostelAllocations[i].ReserveStatus
                                            </td>
                                            <td>
                                                @Model.HostelAllocations[i].CornerName
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
    <div class="col-md-1"></div>
</div>

