@model Abundance_Nk.Web.Areas.Admin.ViewModels.HostelViewModel
@{
    ViewBag.Title = "ViewAllAllocationRequest";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>

<script type="text/javascript">


    function ActivateAll() {
        if ($('#ActivateAllId').is(':checked')) {
            $('.Activate').prop('checked', true);
        }
        else {
            $('.Activate').prop('checked', false);
        }
    }

</script>


<div class="col-md-12">

        <div>
            @if (TempData["Message"] != null)
            {
                @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
            }
        </div>

        <div class="panel panel-default">
            <div class="panel-heading panel-dark-head">
                <h4>Hostel Allocation Requests</h4>
            </div>
            <div class="panel-body">

                @using (Html.BeginForm("ViewAllAllocationRequest", "HostelAllocation", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="col-md-12">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Level.Name, new {@class = "control-label custom-text-black"})
                                    @Html.DropDownListFor(model => model.Level.Id, (IEnumerable<SelectListItem>) ViewBag.Level, new {@class = "form-control", @required = "required"})
                                    @Html.ValidationMessageFor(model => model.Level.Id, null, new {@class = "text-danger"})
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Session.Name, "Session", new { @class = "control-label custom-text-black" })
                                    @Html.DropDownListFor(model => model.Session.Id, (IEnumerable<SelectListItem>)ViewBag.Sessions, new { @class = "form-control", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.Session.Id, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <input class="btn btn-success mr5" type="submit" name="submit" id="submit" value="Submit" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="panel-body">
                @if (Model.HostelRequests != null && Model.HostelRequests.Count > 0)
                {
                    <div class="panel panel-danger">
                        <div class="panel-body">
                            @using (Html.BeginForm("RemoveHostelRequest", "HostelAllocation", new { Area = "Admin" }, FormMethod.Post))
                            { 
                                <table class="table-bordered table-hover table-striped table-responsive table">
                                    <tr>
                                        <th>
                                            Picture
                                        </th>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Matric NO.
                                        </th>
                                        <th>
                                            State
                                        </th>
                                        <th>
                                            Address
                                        </th>
                                        <th>
                                            Programme
                                        </th>
                                        <th>
                                            Department
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            <input type="checkbox" id="ActivateAllId" onclick="ActivateAll()"/> Remove
                                        </th>
                                        <th>
                                            Edit
                                        </th>
                                    </tr>

                                    @for (int i = 0; i < Model.HostelRequests.Count; i++)
                                    {
                                        <tr>

                                            @Html.HiddenFor(model => model.HostelRequests[i].Id)
                                            @if (Model.HostelRequests[i].Student != null)
                                            {
                                                if (!string.IsNullOrEmpty(Model.HostelRequests[i].Student.ImageFileUrl))
                                                {
                                                    <td>
                                                        <img src="@Url.Content(@Model.HostelRequests[i].Student.ImageFileUrl)" class="img img-rounded" style="width: 200px; height: 200px" />

                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        <img src="@Url.Content("~/Content/Images/default_avatar.png")" class="img img-rounded" style="width: 200px; height: 200px" />

                                                    </td>
                                                }

                                                <td>
                                                    @Model.HostelRequests[i].Student.FullName.ToUpper()
                                                </td>

                                                if (Model.HostelRequests[i].Student.MatricNumber != null)
                                                {
                                                    <td>
                                                        @Model.HostelRequests[i].Student.MatricNumber.ToUpper()
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }

                                                if (Model.HostelRequests[i].Student.State != null)
                                                {
                                                    <td>
                                                        @Model.HostelRequests[i].Student.State.Name.ToUpper()
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }

                                                <td>
                                                    @Model.HostelRequests[i].Student.SchoolContactAddress
                                                </td>
                                            }
                                            else
                                            {
                                                if (!string.IsNullOrEmpty(Model.HostelRequests[i].Person.ImageFileUrl))
                                                {
                                                    <td>
                                                        <img src="@Url.Content(@Model.HostelRequests[i].Person.ImageFileUrl)" class="img img-rounded" style="width: 200px; height: 200px" />

                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        <img src="@Url.Content("~/Content/Images/default_avatar.png")" class="img img-rounded" style="width: 200px; height: 200px" />

                                                    </td>
                                                }

                                                <td>
                                                    @Model.HostelRequests[i].Person.FullName.ToUpper()
                                                </td>

                                                <td></td>

                                                if (Model.HostelRequests[i].Person.State != null)
                                                {
                                                    <td>
                                                        @Model.HostelRequests[i].Person.State.Name.ToUpper()
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }

                                                <td>
                                                    @Model.HostelRequests[i].Person.ContactAddress
                                                </td>
                                            }
                                            <td>
                                                @Model.HostelRequests[i].Programme.Name
                                            </td>
                                            <td>
                                                @Model.HostelRequests[i].Department.Name
                                            </td>
                                            
                                                @if (Model.HostelRequests[i].Approved)
                                                {
                                                    <td>Approved</td>
                                                }
                                                else
                                                {
                                                    <td>Not Approved</td>
                                                }
                                            <td>
                                                @Html.CheckBoxFor(m => m.HostelRequests[i].Remove, new { @type = "checkbox", @class = "Activate" })
                                            </td>
                                            <td>
                                                @Html.ActionLink("Edit", "EditAllocationRequest", new { area = "Admin", controller = "HostelAllocation", rid = @Model.HostelRequests[i].Id }, new { @class = "btn btn-success mr5"})
                                            </td>
                                        </tr>
                                    }

                                </table>
                                <br />
                                <div class="form-group">
                                    <div class=" col-md-10">
                                        <input type="submit" value="Submit" class="btn btn-success" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>

        </div>
</div>

