@model Abundance_Nk.Web.Areas.Admin.ViewModels.UserViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/Scripts/jquery-1.11.1.min.js"></script>
@if (TempData["Message"] != null)
{
    @Html.Partial("_Message", TempData["Message"])
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-fw fa-user"></i>Edit Staff Details</h3>
    </div>
    <div class="panel-body">

        @using (Html.BeginForm("EditUser", "User", FormMethod.Post,new {enctype = "multipart/form-data"}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="panel panel-colorful">
                <div class="panel-body ">

                    <div class="form-group">
                        @Html.LabelFor(model => model.User.Username, "Staff Name", new { @class = "text-bold" })
                        @Html.TextBoxFor(model => model.User.Username, new { @class = "form-control", @placeholder = "Enter Username" })
                        @Html.ValidationMessageFor(model => model.User.Username, null, new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.User.Password, new { @class = "text-bold" })
                        @Html.TextBoxFor(model => model.User.Password, new { @class = "form-control", @placeholder = "Enter Password", @type = "password" })
                        @Html.ValidationMessageFor(model => model.User.Password, null, new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.User.Email, "Email", new { @class = "text-bold" })
                        @Html.TextBoxFor(model => model.User.Email, new { @class = "form-control", @placeholder = "Enter Email Address" })
                        @Html.ValidationMessageFor(model => model.User.Email, null, new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.User.Role.Id, "Role", new { @class = "text-bold" })
                        @Html.DropDownListFor(model => model.User.Role.Id, (IEnumerable<SelectListItem>)ViewBag.RoleList, new { @class = "form-control", @id = "Role", @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.User.Role.Id)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.User.SecurityQuestion.Id, "Security Question", new { @class = "text-bold" })
                        @Html.DropDownListFor(model => model.User.SecurityQuestion.Id, (IEnumerable<SelectListItem>)ViewBag.SecurityQuestionList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.User.SecurityQuestion.Id)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.User.SecurityAnswer, new { @class = "col-sm-2 control-label " })
                        @Html.TextBoxFor(model => model.User.SecurityAnswer, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.User.SecurityAnswer)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.User.Activated, new {@class = "col-sm-2 control-label "})
                        @Html.CheckBoxFor(model => model.User.Activated, new {@class = ""})
                        @Html.ValidationMessageFor(model => model.User.Activated)
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.User.SignatureUrl, "Signature", new {@class = "col-md-2 control-label "})
                            <div><input type="file" title="Upload Image" id="file" name="file" class="form-control"/>
                            </div>
                        </div>
                        @if (Model.User.SignatureUrl != null)
                        {
                            <div class=" col-md-6">
                                <div><img src="@Url.Content("~" + Model.User.SignatureUrl)" style="width:70px;height:70px" /></div>
                            </div>
                        }
                       
                    </div>
                    
                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <input class="btn btn-success mr5" type="submit" name="submit" id="submit" value="Update" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.print.js"></script>