@using Abundance_Nk.Web.Models
@model Abundance_Nk.Web.Areas.Student.ViewModels.HostelViewModel
@{
    Layout = null;
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<link href="~/Content/style.default.css" rel="stylesheet" />
<link href="~/Content/misc.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-12">
        @if (TempData["Message"] != null)
        {
            @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
        }
    </div>
</div>

<div class="printable">
<div class="container">
    <div class="panel panel-default">
        
            <div class="row pad-top-botm ">
                <div class="col-lg-5 col-md-6 col-sm-6 ">

                </div>
                <div class="row">
                    <div>
                        <img src="~/Content/Images/school_logo.jpg" height="200" width="200"/>
                    </div>
                </div>


            </div>
            <div class="row text-center contact-info">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <hr />
                    <span>
                        <strong>Email : </strong> support@abiastateuniversity.edu.ng
                    </span>
                    <span>
                        <strong>Call : </strong>  08164958768
                    </span>
                    <span>
                        <strong>Contact Address : </strong>Nnamdi Azikiwe University, Awka.
                    </span>
                    <hr />
                </div>
            </div>
        <div class="row pad-top-botm client-info">
            <div class="col-lg-5">

            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h4> <strong>Hostel Information</strong></h4>
            </div>

        </div>
        @if (Model.Payment.Session != null)
        {
            <div style="text-align: center;" >
                <h4> <strong>@Model.Payment.Session.Name Academic Session</strong></h4>
            </div>
        }
            <div class="row">
                <div class="col-md-12">
                    <b>Student Name :</b> @if (Model != null && Model.HostelAllocation != null)
                    {
                        @Model.HostelAllocation.Person.FullName
                    }
                    <br />
                    <b>Student Registeration Number :</b> @if (Model != null && Model.Student != null)
                    {
                        @Model.Student.MatricNumber
                    }
                    <br />
                    <b>Hostel :</b> @if (Model != null && Model.HostelAllocation != null)
                    {
                        @Model.HostelAllocation.Hostel.Name
                    }
                    <br />
                    <b>Series/Floor :</b> @if (Model != null && Model.HostelAllocation != null)
                    {
                        @Model.HostelAllocation.Series.Name
                    }
                    <br />
                    <b>Room :</b> @if (Model != null && Model.HostelAllocation != null)
                    {
                        @Model.HostelAllocation.Room.Number
                    }

                </div>
                <hr />
                <div class="ttl-amts col-md-12">
                    <h4>
                        <strong>
                            Bill Amount : N @if (Model != null && Model.Payment != null)
                            {
                                @Model.Payment.FeeDetails.Sum(p => p.Fee.Amount)
                            }
                        </strong>
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <strong> Important: </strong>
                    <ol>
                        <li>
                            This is an electronically generated receipt so it doesn't require any signature.

                        </li>
                        <li>
                            Please read all terms and polices on www.abiastateuniversity.edu.ng for returns, replacement and other issues.

                        </li>
                    </ol>
                </div>
            </div>
        <div class="row">
            
            <div class="col-md-4">
                @Html.GenerateQrCode(Model.QRVerification)
            </div>
        </div>

        
    </div>
</div>
</div>

