@using Abundance_Nk.Web.Models
@model Abundance_Nk.Web.Areas.Applicant.ViewModels.AdmissionViewModel

<br />

<div class="bg-success p-4" style="margin-bottom: 15px; color: #fff; text-align: justify">

    <p style="font-weight: bold">
        Congratulations! You have been given a Provisional Admission into Nnamdi Azikiwe University, Awka
    </p>

    <small>This marks the first step of your admission process. Click on the <b>Generate Invoice</b> button below, to generate your invoice and print same by clicking the <b>Print Invoice</b> button. Then proceed to the bank for payment with the generated Invoive Number. Good Luck!<cite title="Source Title"></cite></small>

</div>

@*TempData.Keep("To")*@

@if (Model.ApplicationForm.ProgrammeFee.Programme.Id == 4)
{
    <h5>GENERATE BIOMETRIC INVOICE</h5>
}
else if (Model.ApplicationForm.ProgrammeFee.Programme.Id == 9)
{
    <h5>ADMISSION LETTER</h5>
}
else
{

    <h5>GENERATE ACCEPTANCE INVOICE</h5>
}
<hr />
<div class="container p-0">
    <div class="col-md-12 p-0">

        <div class="form-group ">
            @Html.Label("Application Form Invoice", new { @class = " col-md-12 pl-0" })
            <div class="col-sm-9" style="font-weight: bold">
                @Html.DisplayFor(model => model.Payment.InvoiceNumber, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group ">
            <div class="col-sm-9 "></div>
            <div class="col-sm-9 ">
                <div class="form-inline">
                    <div class="form-group">
                        
                            
                            <button class="btn btn-warning  mr-3" type="button" name="btnGenerateAcceptanceInvoice" id="btnGenerateAcceptanceInvoice">Generate Invoice</button>
                            
                        
                        @if (Model.ApplicationForm.ProgrammeFee.Programme.Id == 8) {

                        }
                        else
                        {
                        @Html.ActionLink("Print Admission Letter", "AdmissionLetter", "Credential", new { Area = "Common", fid = Utility.Encrypt(Model.ApplicationForm.Id.ToString()) }, new { @class = "btn btn-primary ", target = "_blank", id = "alPrintAcceptanceReceipt" })
                        }
                        @if (Model.ApplicationForm.ProgrammeFee.Programme.Id == 3)
                        {
                            @Html.ActionLink("Print Admission Status", "AdmissionPrintout", "Credential", new { Area = "Common", fid = Utility.Encrypt(Model.ApplicationForm.Id.ToString()) }, new { @class = "btn btn-primary ", target = "_blank" })
                            @*@Html.ActionLink("Reprint Application Status", "RePrintApplicationForm", "Credential", new { Area = "Common", fid = Utility.Encrypt(Model.ApplicationForm.Id.ToString()) }, new { @class = "btn btn-primary ", target = "_blank" })*@

                        }

                    </div>


                    <div class="form-group margin-bottom-0">
                        <div id="divProcessingAcceptanceInvoice" style="display: none">
                            <img src="@Url.Content("~/Content/Images/bx_loader.gif")" />
                            <span>Processing ...</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="form-inline pl-3">

        &nbsp; &nbsp; &nbsp;
        @if (Model.ApplicationForm.ProgrammeFee.Programme.Id != 9)
        {
            <div class="form-group  margin-bottom-0 divAcceptanceInvoice" style="display: none">
                <a id="aAcceptanceInvoiceNumber" href="#" target="_blank" class="btn btn-primary btn-lg">Print Invoice</a>
            </div>
        }
    </div>

    <br />
    <div id="divAcceptanceInvoiceResult"></div>
</div>
