@model Abundance_Nk.Web.Areas.Applicant.ViewModels.AdmissionViewModel

@{
    ViewBag.Title = "Reset Student Password";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@if (TempData["Message"] != null)
{
    @Html.Partial("_Message", TempData["Message"])
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div style="font-size: x-large">Generate Shortfall fees</div>
            </div>
            <div class="panel-body">

                @using (Html.BeginForm("CreateSupplementaryPayement", "Admission", new { area = "Applicant" }, FormMethod.Post))
                {
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.FormNumber, "Form Number", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.FormNumber, new { @class = "form-control", @placeholder = "Enter Form Number/ Matric Number", @required = "required" })
                                @Html.ValidationMessageFor(model => model.FormNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Amount, "Amount", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.Amount, new { @class = "form-control", @placeholder = "Enter Amount", @required = "required" })
                                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Generate" class="btn btn-success mr5" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>


    </div>
</div>