@model IEnumerable<Abundance_Nk.Model.Entity.COURSE_UNIT>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/Scripts/js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#myTable").DataTable();

    });

</script>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table" id="myTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Minimum_Unit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Maximum_Unit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPARTMENT.Department_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LEVEL.Level_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PROGRAMME.Programme_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEMESTER.Semester_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Minimum_Unit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Maximum_Unit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEPARTMENT.Department_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LEVEL.Level_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PROGRAMME.Programme_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEMESTER.Semester_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Course_Unit_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Course_Unit_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Course_Unit_Id })
        </td>
    </tr>
}

</table>
