@model Abundance_Nk.Web.Areas.Applicant.ViewModels.PostUtmeResultViewModel

@{
    ViewBag.Title = "PUTME RESULT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>PUTME RESULT</title>
    </head>
    <body>
        <div class="row">
            <div>
                @if (TempData["Message"] != null)
                {
                    @Html.Partial("_Message", TempData["Message"])
                }
            </div>

            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-6">
                                <img src="@Url.Content("~/Content/Images/results.jpg")" alt="" width="500px" />
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title text-center">SEARCH FOR PUTME RESULT</h3>
                                    </div>
                                    <div class="panel-body">
                                        @using (Html.BeginForm("MergeResult", "PostUtmeResult/MergeResult", FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()
                                            if (Model == null)
                                            {
                                                <div class="input-group">
                                                    <span class="input-group-addon" id="basic-addon1">Programme</span>
                                                    @Html.DropDownListFor(model => model.Programme.Id, (IEnumerable<SelectListItem>) ViewBag.ProgrammeId, new {@class = "form-control"})
                                                    @Html.ValidationMessageFor(model => model.Programme.Id, null, new {@class = "text-danger"})
                                                </div>
                                                <br />

                                                <div class="input-group">
                                                    <span class="input-group-addon" id="basic-addon1">Name</span>
                                                    @Html.TextBoxFor(model => model.Result.FullName, new {@class = "form-control", @placeholder = "Enter your Examination Number"})
                                                    @Html.ValidationMessageFor(model => model.Result.FullName, null, new {@class = "text-danger"})
                                                </div>
                                                <br />

                                                <div class="col-md-offset-6">
                                                    <button class="btn btn-default " type="submit">Search Result</button>
                                                </div>
                                            }
                                        }
                                        @if (Model != null && Model.ResultSelectListItem.Count > 0)
                                        {
                                            using (Html.BeginForm("UpdateResult", "PostUtmeResult", FormMethod.Post))
                                            {
                                                <div class="input-group">
                                                    <span class="input-group-addon" id="basic-addon1">Full name</span>
                                                    @Html.DropDownListFor(model => model.Result.Id, (IEnumerable<SelectListItem>) ViewBag.ResultId, new {@class = "form-control"})
                                                    @Html.ValidationMessageFor(model => model.Result.Id, null, new {@class = "text-danger"})
                                                </div>
                                                <br />
                                                <div class="input-group">
                                                    <span class="input-group-addon" id="basic-addon1">Exam No</span>
                                                    @Html.TextBoxFor(model => model.Result.ExamNo, new {@class = "form-control", @placeholder = "Enter your Examination Number"})
                                                    @Html.ValidationMessageFor(model => model.Result.ExamNo, null, new {@class = "text-danger"})
                                                </div>
                                                <br />

                                                <div class="col-md-offset-6">
                                                    <button class="btn btn-default " type="submit">MERGE</button>
                                                </div>
                                            }
                                        }
                                    </div>
                                    <div class="panel-footer">
                                        <p class="text-center">
                                            If you encounter any issues kindly send an email to <cite>support@lloydant.com</cite> or  call <cite>07088391544</cite>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>