@model Abundance_Nk.Web.Areas.Admin.ViewModels.SupportViewModel
@{
    ViewBag.Title = "EditStaff";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

        @if (TempData["Message"] != null)
        {
            @Html.Partial("_Message", TempData["Message"])
        }

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-fw fa-upload"></i>Edit Staff</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("DownloadStaffUser", "Support", new {area = "Admin"}, FormMethod.Post, new {enctype = "multipart/form-data"}))
                {
                    <h4 class="alert alert-success">Please select role to get staff List</h4>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.Role.Name, "Staff Role", new {@class = "control-label col-md-12"})
                        <div class="col-md-12">
                            @Html.DropDownListFor(model => model.Role.Id, (IEnumerable<SelectListItem>) ViewBag.Role, new {@class = "form-control"})
                        </div>
                    </div>
                    <br />
                    <div class="form-group col-md-12">
                        <input class="btn btn-success mr5 " type="submit" name="submit" id="submit" value="Submit" />
                    </div>
                }
                <br /><br />
                <br /><br />
                <hr />

                @using (Html.BeginForm("EditStaff", "Support", new {area = "Admin"}, FormMethod.Post, new {enctype = "multipart/form-data"}))
                {
                    <h4 class="alert alert-success">Update Staff List</h4>
                    <br />
                    <div class="form-group">
                        <div class="col-md-5">
                            <input type="file" title="Upload File" name="file" class="form-control" />
                            <br />
                            <input class="btn btn-success mr5 " type="submit" name="submit" id="submit" value="Upload Here" />
                        </div>
                        <div class="col-md-7">
                            <div class="pull-left">
                                <blockquote><small> NB: The Excel Format Should be in Excel 97-2003 WorkBook Format and the Columns should be arranged in such a way that the first column is the User-name and the second is the Password.</small></blockquote>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <br />
            @if (Model == null || Model.Users == null)
            {
                return;
            }
            @if (Model != null && Model.Users.Count > 0)
            {
                <table class="table table-responsive table-striped">
                    <tr>
                        <th>
                        </th>
                        <th>
                            USERNAME
                        </th>
                        <th>
                            PASSWORD
                        </th>
                    </tr>
                    @for (int i = 0; i < Model.Users.Count; i++)
                    {
                        <tr>
                            <td></td>
                            <td>
                                @Model.Users[i].Username
                            </td>
                            <td>
                                @Model.Users[i].Password
                            </td>
                        </tr>
                    }
                </table>
                <br />
                <div class="form-group" style="text-align: center">

                    <div class="col-sm-10 pull-left">
                        @*<input class="btn btn-success mr5 " type="submit" name="submit" id="submit" value="Save Upload" />*@
                        @Html.ActionLink("Save", "SaveEditedStaff", new {controller = "Support", area = "Admin"}, new {@class = "btn btn-success mr5"})
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-1"></div>
</div>