@model Abundance_Nk.Web.Areas.Admin.ViewModels.BursaryPaymentViewModel
@{

    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Transaction Log";
}
<style>
    .step {
        color: blue;
        font-size: 11pt;
    }
</style>
<link href="~/Content/SmartWizard/smart_wizard.css" rel="stylesheet" />
<link href="~/Content/SmartWizard/smart_wizard_theme_arrows.css" rel="stylesheet" />
<link href="~/Content/SmartWizard/smart_wizard_theme_dots.css" rel="stylesheet" />
<link href="~/Scripts/DataTables-1.10.15/extensions/Buttons/css/buttons.dataTables.css" rel="stylesheet" />
@*@section Scripts{
    @Scripts.Render(("~/bundles/jquery"))*@
<script src="~/Scripts/DataTables-1.10.15/media/js/jquery.js"></script>
<script src="~/Scripts/jquery.smartWizard.min.js"></script>
<script src="~/Scripts/dataTables.js"></script>
<script src="~/Content/js/bootstrap.js"></script>
<script src="~/Scripts/DataTables-1.10.15/extensions/Buttons/js/dataTables.buttons.js"></script>
<script src="~/Scripts/DataTables-1.10.15/extensions/Buttons/js/buttons.colVis.js"></script>
<script src="~/Scripts/DataTables-1.10.15/extensions/Responsive/js/dataTables.responsive.js"></script>
<script src="~/Scripts/DataTables-1.10.15/buttons.flash.min.js"></script>
<script src="~/Scripts/DataTables-1.10.15/buttons.html5.min.js"></script>
<script src="~/Scripts/DataTables-1.10.15/buttons.print.min.js"></script>
<script src="~/Scripts/DataTables-1.10.15/jszip.min.js"></script>
<script src="~/Scripts/DataTables-1.10.15/pdfmake.min.js"></script>
<script src="~/Scripts/DataTables-1.10.15/vfs_fonts.js"></script>
<script type="text/javascript">
    var jQueryVesrsion_1_11_1 = $.noConflict(true);
    var definedDataTable2;
    var paymnetReportList = [];
    var definedDataTable;
    jQueryVesrsion_1_11_1(document).ready(function () {


        $('#gifLoad').hide();
        var stepToGoTo;
        jQueryVesrsion_1_11_1('#smartwizard').smartWizard({
            selected: 0,
            theme: 'arrows',
            transitionEffect: 'fade',
            transitionSpeed: '400',
            toolbarPosition: 'bottom',
            showStepURLhash: false,
            autoAdjustHeight: false,
            hideButtonsOnDisabled: true
        });

        jQueryVesrsion_1_11_1("#smartwizard").on("showStep", function (e, anchorObject, stepNumber, stepDirection, stepPosition) {
            //alert("You are on step " + stepNumber + " now" + stepPosition);
            if (stepPosition === 'first') {
                $("#prev-btn").addClass('disabled');
                $('.sw-btn-next').prop('disabled', false);

            } else if (stepPosition === 'final') {
                $("#next-btn").addClass('disabled');
            } else if (stepPosition === "middle") {

            } else {
                $("#prev-btn").removeClass('disabled');
                $("#next-btn").removeClass('disabled');
            }

            stepToGoTo = stepPosition;
        });
        jQueryVesrsion_1_11_1("#prev-btn").on("click", function () {
            // Navigate previous

            $('#smartwizard').smartWizard("prev");
            return true;
        });

        jQueryVesrsion_1_11_1('.sw-btn-next').on("click", function () {
            // Navigate next
            $('#gifLoad').show();
            $('.sw-btn-next').prop('disabled', true);
            GetInterSwitchPayment();

        });

        jQueryVesrsion_1_11_1("#theme_selector").on("change", function () {
            // Change theme
            jQueryVesrsion_1_11_1('#smartwizard').smartWizard("theme", $(this).val());
            return true;
        });

        // Set selected theme on page refresh
        jQueryVesrsion_1_11_1("#theme_selector").change();


        $('#CompletedTransactions').on('click', function () {
            if ($('#PendingTransactions').is(':checked')) {
                $('#PendingTransactions').prop('checked', false);
                $('.sw-btn-next').prop('disabled', false);
            }
            if ($('#FailedTransctions').is(':checked')) {
                $('#FailedTransctions').prop('checked', false);
                $('.sw-btn-next').prop('disabled', false);
            }
        });
        $('#PendingTransactions').on('click', function () {
            if ($('#CompletedTransactions').is(':checked')) {
                $('#CompletedTransactions').prop('checked', false);
                $('.sw-btn-next').prop('disabled', false);
            }
            if ($('#FailedTransctions').is(':checked')) {
                $('#FailedTransctions').prop('checked', false);
                $('.sw-btn-next').prop('disabled', false);
            }
        });
        $('#FailedTransctions').on('click', function () {
            if ($('#CompletedTransactions').is(':checked')) {
                $('#CompletedTransactions').prop('checked', false);
                $('.sw-btn-next').prop('disabled', false);
            }
            if ($('#PendingTransactions').is(':checked')) {
                $('#PendingTransactions').prop('checked', false);
                $('.sw-btn-next').prop('disabled', false);
            }
        });

    });

    function requery(invoiceNumber) {

        $.ajax({
            type: "POST",
            url: "@Url.Action("QueryInterSwitchTransaction", "Support", new { area = "Admin" })",
            dataType: "json",
            data: { invoiceNumber: invoiceNumber },
            success: function (arrayJsonModel) {

                if (arrayJsonModel.ResponseCode == "00") {
                    GetInterSwitchPayment();
                } else {
                    $('#gifLoad').hide();
                    alert("Error " + arrayJsonModel.ResponseDescription);
                }
               
            },
            beforeSend: function () {
                $('#gifLoad').show();
            },
            traditional: true
        });
        definedDataTable2 = jQueryVesrsion_1_11_1('#myTable2').DataTable();


    }
    function GetInterSwitchPayment() {

        var dateFrom = $('#dateFrom').val();
        var dateTo = $('#dateTo').val();
        var sortOption = null;
        var pendingTranaction;
        var succuessfulTransction;
        var failedTransction;
        if ($('#CompletedTransactions').is(':checked')) {
            succuessfulTransction = true;
        } else if ($('#PendingTransactions').is(':checked')) {
            pendingTranaction = true;
        }
        else if ($('#FailedTransctions').is(':checked')) {
            failedTransction = true;
        }

        if (failedTransction != null || succuessfulTransction != null || pendingTranaction != null) {

            if (succuessfulTransction == true) {
                sortOption = "00";
            } else if (pendingTranaction == true) {
                sortOption = "Z0";
            } else if (failedTransction == true) {
                sortOption = "0";
            }

            $.ajax({
                type: "POST",
                url: "@Url.Action("GetInterSwitchPayment", "Support", new { area = "Admin" })",
                dataType: "json",
                data: { dateFrom: dateFrom, dateTo: dateTo, sortOption: sortOption },
                success: function (arrayJsonModel) {
                    if (arrayJsonModel[0].IsError == false) {
                      
                        $('#headerId').html(' ');
                        if (definedDataTable != undefined) {
                            definedDataTable.destroy();
                        }
                        $('#myTable tbody > tr').remove();
                        var paymentReportDetails = arrayJsonModel[arrayJsonModel.length - 1];
                        paymnetReportList = paymentReportDetails.PaymentEtranzactView;
                        for (var i = 0; i < arrayJsonModel.length; i++) {
                            if (arrayJsonModel[i].Issuccessful) {
                                $('#table2Body').append('<tr><td>' + arrayJsonModel[i].TransactionDate + '</td><td>' + arrayJsonModel[i].MatricNumber + '</td><td>' + arrayJsonModel[i].FullName + '</td><td>' + arrayJsonModel[i].InvoiceNumber + '</td><td>' + arrayJsonModel[i].MearchantReference + '</td><td>' + arrayJsonModel[i].Amount + '</td><td>' + arrayJsonModel[i].ResponseDecription + '</td><td><input type="button" class="btn btn-primary" href="" value="None"></td></tr>');
                            } else {
                               
                                $('#table2Body').append('<tr><td>' + arrayJsonModel[i].TransactionDate + '</td><td>' + arrayJsonModel[i].MatricNumber + '</td><td>' + arrayJsonModel[i].FullName + '</td><td>' + arrayJsonModel[i].InvoiceNumber + '</td><td>' + arrayJsonModel[i].MearchantReference + '</td><td>' + arrayJsonModel[i].Amount + '</td><td>' + arrayJsonModel[i].ResponseDecription + '</td><td><input type="button" class="btn btn-primary" onclick="requery(\'' + arrayJsonModel[i].MearchantReference + '\')" value="Re-Query"></td></tr>');
                            }

                        }

                        jQueryVesrsion_1_11_1('#myTable').DataTable({
                            dom: 'Bfrtip',
                            ordering: true,
                            retrieve: true,
                            buttons: [
                                {
                                    extend: 'copy',
                                    exportOptions: {
                                        columns: ':visible'
                                    }
                                },
                                {
                                    extend: 'csv',
                                    exportOptions: {
                                        columns: ':visible'
                                    }
                                },
                                {
                                    extend: 'excel',
                                    exportOptions: {
                                        columns: ':visible'
                                    }
                                },
                                {
                                    extend: 'pdf',
                                    exportOptions: {
                                        columns: ':visible'
                                    }
                                },
                                {
                                    extend: 'print',
                                    exportOptions: {
                                        columns: ':visible'
                                    }
                                }, , 'colvis'
                            ]
                        });
                        $('#headerId').text('Transaction Log From' + " " + dateFrom + " " + 'through' + " " + " " + dateTo);
                        definedDataTable = jQueryVesrsion_1_11_1('#myTable').DataTable();
                        $('#gifLoad').hide();

                    } else {
                        alert(arrayJsonModel[0].ErrorMessage);
                        $('#gifLoad').hide();
                    }


                },
                error: function (ex) {
                    alert('Operation Failed.' + ex);
                    $('#gifLoad').hide();
                },
                traditional: true
            });
        } else {
            alert('Kindly Select a Transaction Type to continue' + ex);
            $('#gifLoad').hide();
        }
    }

</script>
@*}*@

<div class="row" style="padding-left: 15px; min-height: 100%;">
    <div>
        @if (TempData["Message"] != null)
        {
            @Html.Partial("_Message", TempData["Message"])
        }
    </div>
    <h2>Interswitch Transaction Report</h2>
    <div class="panel">
        <div class="row">
            <div class="col-md-12 ">
                <div id="smartwizard">
                    <ul>
                        <li><a href="#step-1">Date Range<br /><small>Select Date Range & Transaction Type</small></a></li>
                        <li><a href="#step-2">Payment Log<br /><small>Transaction Details </small></a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="step-1" class="tab-pane">
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3 form-group">
                                            <div class="custom-control custom-radio">
                                                @Html.LabelFor(model => model.CompletedTransactions, "Successful Transactions", new { @class = "control-label", id = "sort1" }) &nbsp; &nbsp; &nbsp;
                                                @Html.CheckBoxFor(model => model.CompletedTransactions)
                                            </div>
                                        </div>
                                        <div class="col-md-3  form-group">
                                            <div class="custom-control custom-radio">
                                                @Html.LabelFor(model => model.PendingTransactions, "Pending Transactions", new { @class = "control-label", id = "sort2" })&nbsp; &nbsp; &nbsp;
                                                @Html.CheckBoxFor(model => model.PendingTransactions)
                                            </div>
                                        </div>
                                        <div class="col-md-3  form-group">
                                            <div class="custom-control custom-radio">
                                                @Html.LabelFor(model => model.FailedTransctions, "Failed Transactions", new { @class = "control-label", id = "sort3" })&nbsp; &nbsp; &nbsp;
                                                @Html.CheckBoxFor(model => model.FailedTransctions)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.DateFrom, "Date From", new { @class = "control-label custom-text-black" })
                                            @Html.TextBoxFor(model => model.DateFrom, new { @class = "form-control", placeholder = "From", type = "date", id = "dateFrom" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.DateTo, "Date To", new { @class = "control-label custom-text-black" })
                                            @Html.TextBoxFor(model => model.DateTo, new { @class = "form-control", placeholder = "To", type = "date", id = "dateTo" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="step-2" class="tab-pane">
                            <div class="row">
                                <h3 class="border-bottom border-gray pb-2" id="headerId"></h3>
                                <table class="table table-bordered table-hover table-striped" id="myTable">
                                    <thead>
                                        <tr>
                                            <th>Transaction Date </th>
                                            <th>Matric Number </th>
                                            <th>Full Name</th>
                                            <th>Invoice Number</th>
                                            <th>Transaction Reference Number</th>
                                            <th>Amount</th>
                                            <th>Gateway Response</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="table2Body"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="row" style="display: none; position: fixed; top: 50%; left: 50%" id="gifLoad">
                <img src="~/Content/Images/bx_loader.gif" />
            </div>
        </div>
    </div>
</div>
@*<style>
        .page-content {
            height: auto;
        }
    </style>*@
