@model Abundance_Nk.Web.Areas.Admin.ViewModels.SupportViewModel
@{
    ViewBag.Title = "ResetCourseRegistration";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@if (TempData["Message"] != null)
{
    @Html.Partial("_Message", TempData["Message"])
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div style="font-size: x-large">Course Resgistration Reset</div>
            </div>
            <div class="panel-body">

                @using (Html.BeginForm("ResetCourseRegistration", "Support", new {area = "Admin"}, FormMethod.Post))
                {
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.studentModel.MatricNumber, "Matric Number", htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.studentModel.MatricNumber, new {@class = "form-control", @placeholder = "Enter Matric Number"})
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Session.Name, "Session", new {@class = "control-label col-md-2"})
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.Session.Id, (IEnumerable<SelectListItem>) ViewBag.Session, new {@class = "form-control"})
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Reset" class="btn btn-success mr5" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>