@model Abundance_Nk.Web.Areas.Admin.ViewModels.PgProposalViewModel
@{
    ViewBag.Title = "ViewPgProposals";
}


<div class="col-md-12">

    @if (TempData["Message"] != null)
    {
        @Html.Partial("_Message", TempData["Message"])
    }
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Download Proposals</h4>
        </div>
        <div class="panel-body">

            @using (Html.BeginForm("DownloadPgProposals", "Support", new { Area = "Admin" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <div class="panel panel-default">
                    <div class="panel-body">
                        @Html.ValidationSummary(true)

                        <div class="form-group">
                            @Html.LabelFor(m => m.documentType.Name, "Document Type", new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.DropDownListFor(m => m.documentType.Id, (IEnumerable<SelectListItem>)Model.documentTypeSelectListItem, new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(m => m.documentType.Id, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.session.Name, "Session", new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.DropDownListFor(m => m.session.Id, (IEnumerable<SelectListItem>)Model.SessionSelectListItem, new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(m => m.session.Id, null, new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <input type="submit" value="Download" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

