

@model Abundance_Nk.Web.Areas.Admin.ViewModels.SupportViewModel
@{
    ViewBag.Title = "ViewAllStudentStaff";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<script type="text/javascript" src="~/Scripts/js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="~/Scripts/js/plugins/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="~/Scripts/js/plugins/bootstrap/bootstrap.min.js"></script>

<script src="~/Scripts/dataTables.js"></script>


<script src="~/Scripts/DataTables-1.10.15/media/js/jquery.dataTables.js"></script>
<script src="~/Scripts/DataTables-1.10.15/extensions/Buttons/js/dataTables.buttons.js"></script>
<script src="~/Scripts/DataTables-1.10.15/extensions/Buttons/js/buttons.colVis.js"></script>
<script src="~/Scripts/DataTables-1.10.15/extensions/Responsive/js/dataTables.responsive.js"></script>


<script src="~/Scripts/DataTables-1.10.15/buttons.flash.min.js"></script>
<script src="~/Scripts/DataTables-1.10.15/buttons.html5.min.js"></script>
<script src="~/Scripts/DataTables-1.10.15/buttons.print.min.js"></script>
<script src="~/Scripts/DataTables-1.10.15/jszip.min.js"></script>
<script src="~/Scripts/DataTables-1.10.15/pdfmake.min.js"></script>
<script src="~/Scripts/DataTables-1.10.15/vfs_fonts.js"></script>

<script src="~/Scripts/DataTables-1.10.15/momentjs/moment.js"></script>

<script src="~/Scripts/DataTables-1.10.15/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>

<script src="~/Scripts/bootstrap.js"></script>



<script type="text/javascript">
    $(document).ready(function () {
        $.noConflict();
        $.extend($.fn.dataTable.defaults, {
            responsive: false
        });

        $("#myTable").DataTable({
            dom: 'Bfrtip',
            ordering: true,
            buttons: [
                {
                    extend: 'copy',
                    exportOptions: {
                        columns: ':visible',
                        modifier: {
                            orientation: 'landscape'
                        }
                    },
                    orientation: 'landscape'


                },
                {
                    extend: 'csv',
                    exportOptions: {
                        columns: ':visible',
                        modifier: {
                            orientation: 'landscape'
                        }
                    },
                    orientation: 'landscape'

                },
                {
                    extend: 'excel',
                    exportOptions: {
                        columns: ':visible',
                        modifier: {
                            orientation: 'landscape'
                        }
                    },
                    orientation: 'landscape'


                },
                {
                    extend: 'pdf',
                    exportOptions: {
                        columns: ':visible',
                        header: true,
                        modifier: {
                            orientation: 'landscape'
                        }



                    },
                    orientation: 'landscape'


                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: ':visible',
                        modifier: {
                            orientation: 'landscape'
                        }
                    },
                    orientation: 'landscape'


                }, , 'colvis'
            ]
        });


    })


</script>

<div>
    @if (TempData["Message"] != null)
    {
        @Html.Partial("_Message", TempData["Message"])
    }
</div>


<div class="panel panel-danger">
    <div class="panel-body">
        <div class="table-responsive">
            @Html.ActionLink("Add Student", "AddStudentStaff", "Support", new { areas = "Admin" }, new { @class = "btn btn-primary" })
            <table class="table-bordered table-hover table-striped  table" id="myTable">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Name of Student</th>
                        <th>Approved By</th>
                        <th>Date</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    @if (Model.AllStudentStaff != null)
                    {
                        int i = 0;
                        foreach (var item in Model.AllStudentStaff)
                        {

                            i += 1;
                            <tr>
                                <td>@i</td>
                                <td>@item.Person.FullName</td>
                                <td>@item.User.Username</td>
                                <td>@item.DateApprove</td>
                                <td>  @Html.ActionLink("Delete", "DeleteStaff", "Support", new { area = "Admin", PersonId = item.Person.Id }, new { @class = "btn btn-success btn-md " })</td>
                            </tr>

                        }
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>


