@model Abundance_Nk.Web.Areas.Admin.ViewModels.StaffCourseAllocationViewModel
@{
    ViewBag.Title = "ViewUploadedCourses";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/Scripts/jquery-2.1.3.min.js"></script>
<script src="~/Scripts/jquery-1.11.1.min.js"></script>

<script type="text/javascript" src="~/Scripts/file-upload/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/file-upload/jquery-ui-1.9.2.min.js"></script>
<script type="text/javascript" src="~/Scripts/file-upload/jquery.fileupload-ui.js"></script>
<script type="text/javascript" src="~/Scripts/file-upload/jquery.fileupload.js"></script>
<script type="text/javascript" src="~/Scripts/file-upload/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.print.js"></script>
<script src="~/Scripts/DataTables-1.10.15/media/js/jquery.js"></script>

<link href="~/Scripts/DataTables-1.10.15/media/css/jquery.dataTables.css" rel="stylesheet" />
<script src="~/Scripts/DataTables-1.10.15/media/js/jquery.dataTables.js"></script>
<link href="~/Scripts/DataTables-1.10.15/extensions/Buttons/css/buttons.dataTables.css" rel="stylesheet" />
<script src="~/Scripts/DataTables-1.10.15/extensions/Buttons/js/dataTables.buttons.js"></script>
<script src="~/Scripts/DataTables-1.10.15/extensions/Buttons/js/buttons.colVis.js"></script>
<script src="~/Scripts/DataTables-1.10.15/extensions/Responsive/js/dataTables.responsive.js"></script>
@*<script src="~/Scripts/dataTables.js"></script>
    <link href="~/Content/dataTables.css" rel="stylesheet"/>*@

<script src="~/Scripts/DataTables-1.10.15/buttons.flash.min.js"></script>
<script src="~/Scripts/DataTables-1.10.15/buttons.html5.min.js"></script>
<script src="~/Scripts/DataTables-1.10.15/buttons.print.min.js"></script>
<script src="~/Scripts/DataTables-1.10.15/jszip.min.js"></script>
<script src="~/Scripts/DataTables-1.10.15/pdfmake.min.js"></script>
<script src="~/Scripts/DataTables-1.10.15/vfs_fonts.js"></script>

<script type="text/javascript">
    var jQueryVesrsion_1_11_1 = $.noConflict(true);
    $(document).ready(function () {
        var definedDataTable;
        $('#tablecontainer').hide();
        $('#submitBtn').on('click', function () {
            $('#gifLoad').show();
            $('#tablecontainer').hide();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ViewUploadedCourses", "StaffCourseAllocation")', // Calling json method
                dataType: 'json',
                data: { sessionId: $("#Session").val(), semesterId: $("#Semester").val() },
                success: function (uploadedCourses) {
                   
                    if (definedDataTable != undefined) {
                        definedDataTable.destroy();
                    }
                    $('#myTable tbody > tr').remove();
                    var session = $("#Session").val();
                    $.each(uploadedCourses, function (i, course) {
                        $("#tableBody").append('<tr> <td>' + course.CourseCode + '</td><td>' + course.CourseTitle + '</td><td>' +
                            course.Programme + '</td><td>' + course.Level + '</td><td>' + course.Department + '</td><td>' + course.LecturerName + '</td><td><a href="/Admin/StaffCourseAllocation/ViewScoreSheet?index=' + course.CourseId + '&Session=' + session + '"class="btn btn-success btn-sm">View Report</a></td></tr>');
                    });
                   
                    $('#tablecontainer').show();

                    jQueryVesrsion_1_11_1('#myTable').DataTable({
                        dom: 'Bfrtip',
                        ordering: true,
                        "pageLength": 30,
                        buttons: [
                            {
                                extend: 'copy',
                                exportOptions: {
                                    columns: ':visible'
                                }


                            },
                            {
                                extend: 'csv',
                                exportOptions: {
                                    columns: ':visible'
                                }

                            },
                            {
                                extend: 'excel',
                                exportOptions: {
                                    columns: ':visible'
                                }


                            },
                            {
                                extend: 'pdf',
                                exportOptions: {
                                    columns: ':visible'
                                }


                            },
                            {
                                extend: 'print',
                                exportOptions: {
                                    columns: ':visible'
                                }


                            }, , 'colvis'
                        ]
                    });
                   
                    definedDataTable = jQueryVesrsion_1_11_1('#myTable').DataTable();
                    $('#gifLoad').hide();
                },
                error: function (ex) {
                    alert('Failed to retrieve semesters.' + ex);
                    $('#gifLoad').hide();
                }
            });
        });
        $("#Session").change(function () {
            $("#Semester").empty();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetSemester", "StaffCourseAllocation")', // Calling json method
                dataType: 'json',
                data: { id: $("#Session").val() },
                // Get Selected Country ID.
                success: function (semesters) {
                    $("#Semester").append('<option value="' + 0 + '">' +
                        '-- Select Semester --' + '</option>');
                    $.each(semesters, function (i, semester) {
                        $("#Semester").append('<option value="' + semester.Value + '">' +
                            semester.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve semesters.' + ex);
                }
            });
            return false;
        });
    });

</script>

<div class="row">
    <div class="col-md-12">

        <div>
            @if (TempData["Message"] != null)
            {
                @Html.Partial("_Message", TempData["Message"])
            }
        </div>

        @*@using (Html.BeginForm("ViewUploadedCourses", "StaffCourseAllocation", FormMethod.Post))
        {*@
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p style="color: white; font-size: large;"><i class="fa fa-upload"></i> View Uploaded Courses</p>
                </div>
                <div class="panel-body">

                    <div class="form-group">
                        @Html.LabelFor(model => model.Session.Name, "Session", new {@class = "col-md-2"})
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Session.Id, (IEnumerable<SelectListItem>) ViewBag.Session, new {@class = "form-control", @required = "required", @id = "Session"})
                            @Html.ValidationMessageFor(model => model.Session.Name)
                        </div>
                    </div>

                    <div class="form-group">

                        @Html.LabelFor(model => model.Semester.Name, "Semester", new {@class = "col-md-2"})
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.Semester.Id, (IEnumerable<SelectListItem>) ViewBag.Semester, new {@class = "form-control", @required = "required", @id = "Semester"})
                            @Html.ValidationMessageFor(model => model.Semester.Name)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <input class="btn btn-success mr5 " type="submit" name="submit" id="submitBtn" value="View" />
                        </div>
                    </div>
                </div>
            </div>
        @*}*@

        <div class="row">
            @if (Model == null)
            {
                return;
            }

            <div class="panel panel-default" id="tablecontainer" style="display: none">
                <div class="panel-body">
                    <table id="myTable" class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Course Code</th>
                            <th>Course Title</th>
                            <th>Programme</th>
                            <th>Level</th>
                            <th>Department</th>
                            <th>Lecturer Name</th>
                            <th>View Score Sheet</th>
                        </tr>
                        </thead>
                        <tbody id="tableBody"></tbody>

                    </table>
                </div>
            </div>

        </div>
        <div class="row" style="display: none; position: fixed; top: 50%; left: 50%" id="gifLoad">
            <img src="~/Content/Images/bx_loader.gif" />
        </div>
    </div>
</div>