@model Abundance_Nk.Web.Models.LoginViewModel
@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en" class="body-full-height">
<head>
    <!-- META SECTION -->
    <title>Virtual School - Nnamdi Azikiwe University</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="~/Content/favicon/favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <link href="~/Content/theme-default.css" rel="stylesheet" />
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- EOF CSS INCLUDE -->
</head>
<body class="" style="background: url(/Content/assets/img/academic.jpg); background-size: cover; background-repeat: no-repeat;">
    <div class="login-container">
        <div class="login-box animated fadeInDown mt-5">

            <div class="login-logo mb-3">
                <div class="profile-image text-center">
                    <a href="~/">
                        <img class="img-" src="@Url.Content("~/Content/Images/school_logo.jpg")"
                             alt="school logo" height="60px" width="60px" style="border-radius:50%" />
                    </a>
                </div>
            </div>

            <h4 class="text-center mt-5 mb-5 text-white">
                Nnamdi Azikiwe University Portal
            </h4>

            <div class="login-body">
                @using (Html.BeginForm("ConfirmPasswordReset", "Account", new { Area = "Security", ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.ValidationSummary(true)
                    @Html.AntiForgeryToken()
                    <div class="login-title"><strong>Welcome</strong>, Please login</div>

                    if (TempData["Message"] != null)
                    {
                        <div class="my-2">
                            @Html.Partial("_Message", TempData["Message"])
                        </div>
                    }

                    @Html.HiddenFor(x => x.PersonId)
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "Username", @required = true,@id ="password" })
                            @Html.ValidationMessageFor(m => m.NewPassword)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Username", @required = true,  @id="confirmpassword", onkeyup = "Checkpassword()" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-md-6">
                            <button class="btn btn-primary btn-block" type="submit" >Reset</button>
                        </div>
                    </div>

                }
            </div>
            <div class="login-footer">
                <div class="pull-left">
                    &copy; @DateTime.Now.Year All Rights reserved.
                </div>
                <div class="pull-right">
                    <p>Powered by <a href="http://www.lloydant.com"><img src="~/Content/Images/lloydant.png" /></a> </p>
                </div>
            </div>
        </div>
    </div>


    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#infoModal').modal('show');

        });

        function Checkpassword() {
            var password = $('#password').val();
            var confirmpassword = $('#confirmpassword').val();
            if (password == confirmpassword) {
                $("#confirmpassword").closest('.control-group').removeClass("error").addClass("valid");
                $("#confirmpassword").next(".error").remove();
            }
            else {

            }
        }
    </script>
</body>

</html>