
@model Abundance_Nk.Web.Areas.PGApplicant.ViewModels.PGViewModel

<div class="panel panel-default p-4">
    <div class="col-md-12">
        <div class="panel-heading ">
            <div style="font-size: x-large">Referee Details</div>
        </div><hr /><br />
        @for (int i = 0; i < Model.ApplicantReferees.Count; i++)
        {
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.HiddenFor(model => model.ApplicantReferees[i].Id)
                            @Html.LabelFor(model => model.ApplicantReferees[i].Name, new { @class = "control-label " })
                            @Html.TextBoxFor(model => model.ApplicantReferees[i].Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ApplicantReferees[i].Name)
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ApplicantReferees[i].Rank, new { @class = "control-label " })
                            @Html.TextBoxFor(model => model.ApplicantReferees[i].Rank, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ApplicantReferees[i].Rank)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.HiddenFor(model => model.ApplicantReferees[i].Id)
                            @Html.LabelFor(model => model.ApplicantReferees[i].PhoneNo, new { @class = "control-label " })
                            @Html.TextBoxFor(model => model.ApplicantReferees[i].PhoneNo, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ApplicantReferees[i].PhoneNo)
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ApplicantReferees[i].Email, new { @class = "control-label " })
                            @Html.TextBoxFor(model => model.ApplicantReferees[i].Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ApplicantReferees[i].Email)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ApplicantReferees[i].Department, new { @class = "control-label " })
                            @Html.TextBoxFor(model => model.ApplicantReferees[i].Department, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ApplicantReferees[i].Department)
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ApplicantReferees[i].Institution, new { @class = "control-label " })
                            @Html.TextBoxFor(model => model.ApplicantReferees[i].Institution, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ApplicantReferees[i].Institution)
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <hr />
        }
    </div>
  
</div>