
@model Abundance_Nk.Web.Areas.PGApplicant.ViewModels.PGViewModel

@{
//Layout = null;
}


<div class="panel panel-default p-4">
    <div class="col-md-12">
        <div class="panel-heading">
            <div style="font-size: x-large">Tertiary Education</div>
        </div>
        <hr>
        <br />
        <div class="panel-body">
            <div class="col-md-12">
                @Html.HiddenFor(model => model.PreviousEducation.Id)
                <div class="panel-body">
                    <!--Enable filling of previous Tertiary academic records-->
                    <div class="table-responsive">
                        <table id="tertiaryTable" class="table table-condensed" style="background-color: whitesmoke">
                            <thead>
                                <tr>
                                    <th>
                                        Institution Name
                                    </th>
                                    <th>
                                        Course Of Study
                                    </th>
                                    <th>
                                        Qualification
                                    </th>
                                    <th>
                                        Class of Degree
                                    </th>
                                    <th>
                                        Admission Year
                                    </th>
                                    <th>
                                        Graduation Year
                                    </th>
                                </tr>

                            </thead>
                            <tbody>

                                @for (int i = 0; i < 5; i++)
                                {
                                    <tr>
                                        <td>
                                            @Html.TextBoxFor(model => model.ApplicantPreviousEducations[i].SchoolName, new { @class = "form-control" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(model => model.ApplicantPreviousEducations[i].Course, new { @class = "form-control" })
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(model => model.ApplicantPreviousEducations[i].Qualification.Id, (IEnumerable<SelectListItem>)ViewBag.QualificationId, new { @class = "form-control" })
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(model => model.ApplicantPreviousEducations[i].ResultGrade.Id, (IEnumerable<SelectListItem>)ViewBag.ResultGradeId, new { @class = "form-control" })
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(model => model.ApplicantPreviousEducations[i].StartYear.Id, (IEnumerable<SelectListItem>)ViewBag.PreviousEducationStartYearId, new { @class = "form-control pl-2 mr-0" })
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(model => model.ApplicantPreviousEducations[i].EndYear.Id, (IEnumerable<SelectListItem>)ViewBag.PreviousEducationEndYearId, new { @class = "form-control pl-2 mr-0" })
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    @*<div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PreviousEducation.SchoolName, "Last Institution Attended", new { @class = "control-label " })
                                    @Html.TextBoxFor(model => model.PreviousEducation.SchoolName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PreviousEducation.SchoolName)
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PreviousEducation.Course, new { @class = "control-label " })
                                    @Html.TextBoxFor(model => model.PreviousEducation.Course, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PreviousEducation.Course)
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-inline">

                                        <div class="form-inline" style="color: black">Start Date <span id="spSDate" style="color: green; display: none; font-weight: bold;">...Loading</span></div>

                                        @Html.DropDownListFor(model => model.PreviousEducation.StartYear.Id, (IEnumerable<SelectListItem>)ViewBag.PreviousEducationStartYearId, new { @class = "form-control" })
                                        @Html.DropDownListFor(model => model.PreviousEducation.StartMonth.Id, (IEnumerable<SelectListItem>)ViewBag.PreviousEducationStartMonthId, new { @class = "form-control" })
                                        @Html.DropDownListFor(model => model.PreviousEducation.StartDay.Id, (IEnumerable<SelectListItem>)ViewBag.PreviousEducationStartDayId, new { @class = "form-control" })

                                        <div>
                                            <div class="form-group">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-inline">
                                        <div class="form-inline" style="color: black">End Date <span id="spEDate" style="color: green; display: none; font-weight: bold;">...Loading</span></div>

                                        @Html.DropDownListFor(model => model.PreviousEducation.EndYear.Id, (IEnumerable<SelectListItem>)ViewBag.PreviousEducationEndYearId, new { @class = "form-control" })
                                        @Html.DropDownListFor(model => model.PreviousEducation.EndMonth.Id, (IEnumerable<SelectListItem>)ViewBag.PreviousEducationEndMonthId, new { @class = "form-control" })
                                        @Html.DropDownListFor(model => model.PreviousEducation.EndDay.Id, (IEnumerable<SelectListItem>)ViewBag.PreviousEducationEndDayId, new { @class = "form-control" })

                                        <div>
                                            <div class="form-group">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PreviousEducation.Qualification.Id, new { @class = "control-label " })
                                    @Html.DropDownListFor(model => model.PreviousEducation.Qualification.Id, (IEnumerable<SelectListItem>)ViewBag.QualificationId, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PreviousEducation.Qualification.Id)
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PreviousEducation.ResultGrade.Id, new { @class = "control-label" })
                                    @Html.DropDownListFor(model => model.PreviousEducation.ResultGrade.Id, (IEnumerable<SelectListItem>)ViewBag.ResultGradeId, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PreviousEducation.ResultGrade.Id)
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PreviousEducation.ITDuration.Id, new { @class = "control-label " })
                                    @Html.DropDownListFor(model => model.PreviousEducation.ITDuration.Id, (IEnumerable<SelectListItem>)ViewBag.ITDurationId, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PreviousEducation.ITDuration.Id)
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label style="color:red">Were you a previous ABSU Student with valid Matric No?</label>
                                    <input type="checkbox" value="Yes" id="wasMatricStudent" />
                                </div>

                                <div class="form-group" id="absuMatricno" style="display:none">
                                    @Html.LabelFor(model => model.PreviousEducation.MatricNumber, "ABSU UNDERGRADUATE MATRIC NO.", new { @class = "control-label " })
                                    @Html.TextBoxFor(model => model.PreviousEducation.MatricNumber, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PreviousEducation.MatricNumber)
                                </div>
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>*@
                </div>
            </div>

        </div>
    </div>
    </div>