@model Abundance_Nk.Web.Areas.Student.ViewModels.RegistrationLogonViewModel
@{
    ViewBag.Title = "Logon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3 panel-body">

        <div class="row">
            <div class="col-md-12">
                <div class=" text-success">
                    <h1><b>Fill Student Form</b></h1>
                </div>

                <section id="loginForm">
                    @using (Html.BeginForm("Logon", "Registration", new {Area = "Student"}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <h5>Please enter your <b>Confirmation Order Number</b> in the input box below to complete your session registration</h5>
                        <hr class="no-top-padding" />

                        <div class="panel panel-default">
                            <div class="panel-body">

                                <div class="form-group">
                                    @Html.Label("Confirmation Number", new {@class = "col-md-4 control-label"})
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.ConfirmationOrderNumber, new {@class = "form-control", required = "required"})
                                        @Html.ValidationMessageFor(m => m.ConfirmationOrderNumber, null, new {@class = "text-danger"})
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-4 col-md-8">
                                        <input type="submit" value="Next" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                @if (TempData["Message"] != null)
                                {
                                    @Html.Partial("_Message", TempData["Message"])
                                }
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
</div>