@model Abundance_Nk.Web.Areas.Admin.ViewModels.TranscriptProcessorViewModel

@{
    ViewBag.Title = "Geo Zone";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-12">
    <div class="panel panel-custom">
        @if (TempData["Message"] != null)
        {
            @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
        }

        <div class="panel-body text-justify">
            <h2 style="font-weight: 300; text-align: center">Geo Zone</h2>
            <hr />
            <br />
            @using (Html.BeginForm("CreateGeoZone", "TranscriptProcessor", new { area = "Admin" }, FormMethod.Get))
            {
                <div class="row" style="margin-bottom: 3px">
                    <div class="col-md-10"></div>
                    <div class="col-md-2" style="padding-bottom: 3px">
                        <button class="btn btn-success mr5" type="submit" name="submit"><i class="fa fa-plus"> Create New </i></button>

                    </div>
                </div>
            }
            <table class="table-responsive table-striped table-condensed" style="width: 100%" id="MyTable">

                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Name</th>
                        <th>Activated</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.GeoZones.Count; i++)
                    {
                        var sN = i + 1;
                        <tr>
                            <td>@sN</td>
                            <td>@Model.GeoZones[i].Name</td>
                            <td>@Model.GeoZones[i].Activated</td>
                            <td>@Html.ActionLink("Edit", "EditGeoZone", new { Id = @Model.GeoZones[i].Id, area = "admin", controller = "TranscriptProcessor", @class = "btn btn-success" })</td>

                        </tr>
                    }

                </tbody>

            </table>

        </div>

    </div>
</div>
