@using Abundance_Nk.Web.Models
@model Abundance_Nk.Web.Areas.Applicant.ViewModels.PostJambViewModel
<br />

<div style="margin-bottom: 15px; text-align: justify">
    <blockquote>
        <p style="color: darkgreen; font-weight: bold">
            Please fill in the required details and click on the next button to proceed
        </p>
        <small>This marks the first step of your application process.<cite title="Source Title"></cite></small>
    </blockquote>
</div>

<h3>Personal Details</h3>

<div class="row">
    <div class="well">
        <div class="form-group ">
            @Html.LabelFor(model => model.Person.Sex.Name,new { @class = "control-label col-sm-3" })
            <div class="col-sm-9" style="font-weight: bold">
                @Html.DropDownListFor(f => f.Person.Sex.Id,(IEnumerable<SelectListItem>)ViewBag.SexId,new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Person.Sex.Id)
            </div>
        </div>

        <div class="form-group ">
            @Html.LabelFor(model => model.Person.DateOfBirth,new { @class = "control-label col-sm-3" })
            <div class="col-sm-9" style="font-weight: bold">
                @Html.DropDownListFor(m => m.Person.YearOfBirth.Id,(IEnumerable<SelectListItem>)ViewBag.YearOfBirthId,new { @class = "form-control" })
                @Html.DropDownListFor(m => m.Person.MonthOfBirth.Id,(IEnumerable<SelectListItem>)ViewBag.MonthOfBirthId,new { @class = "form-control" })
                @Html.DropDownListFor(m => m.Person.DayOfBirth.Id,(IEnumerable<SelectListItem>)ViewBag.DayOfBirthId,new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group ">
            @Html.LabelFor(model => model.Person.State.Name,new { @class = "control-label col-sm-3" })
            <div class="col-sm-9" style="font-weight: bold">
                @Html.DropDownListFor(f => f.Person.State.Id,(IEnumerable<SelectListItem>)ViewBag.StateId,new { @class = "form-control",@readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Person.State.Id)
            </div>
        </div>

        <div class="form-group ">
            @Html.LabelFor(model => model.Person.LocalGovernment.Name,new { @class = "control-label col-sm-3" })
            <div class="col-sm-9" style="font-weight: bold">
                @Html.DropDownListFor(f => f.Person.LocalGovernment.Id,(IEnumerable<SelectListItem>)ViewBag.LgaId,new { @class = "form-control",@readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Person.LocalGovernment.Id)
            </div>
        </div>

        <div class="form-group ">
            @Html.LabelFor(model => model.Person.HomeTown,new { @class = "control-label col-sm-3" })
            <div class="col-sm-9" style="font-weight: bold">
                @Html.TextBoxFor(model => model.Person.HomeTown,new { @class = "form-control " })
                @Html.ValidationMessageFor(model => model.Person.HomeTown)
            </div>
        </div>

        <div class="form-group ">
            @Html.LabelFor(model => model.Person.Religion.Name,new { @class = "control-label col-sm-3" })
            <div class="col-sm-9" style="font-weight: bold">
                @Html.DropDownListFor(model => model.Person.Religion.Id,(IEnumerable<SelectListItem>)ViewBag.ReligionId,new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Person.Religion.Id)
            </div>
        </div>

        <div class="form-group ">
            @Html.LabelFor(model => model.Person.HomeAddress,new { @class = "control-label col-sm-3" })
            <div class="col-sm-9" style="font-weight: bold">
                @Html.TextBoxFor(model => model.Person.HomeAddress,new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group ">
            @Html.LabelFor(model => model.Applicant.Ability.Name,new { @class = "control-label col-sm-3" })
            <div class="col-sm-9" style="font-weight: bold">
                @Html.DropDownListFor(model => model.Applicant.Ability.Id,(IEnumerable<SelectListItem>)ViewBag.AbilityId,new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group ">
            @Html.LabelFor(model => model.Applicant.OtherAbility,new { @class = "control-label col-sm-3" })
            <div class="col-sm-9" style="font-weight: bold">
                @Html.TextBoxFor(model => model.Applicant.OtherAbility,new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group ">
            @Html.LabelFor(model => model.Applicant.ExtraCurricullarActivities,new { @class = "control-label col-sm-3" })
            <div class="col-sm-9" style="font-weight: bold">
                @Html.TextBoxFor(model => model.Applicant.ExtraCurricullarActivities,new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group ">
            <div class="col-sm-3 "></div>
            <div class="col-sm-9 ">
                <div class="form-inline">
                    <div class="form-group">
                        <button class="btn btn-primary btn-metro mr5" type="button" value="Next">Next</button>
                    </div>

                    <div class="form-group margin-bottom-0">
                        <div style="display: none">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>