@model Abundance_Nk.Web.Areas.Applicant.ViewModels.PostJambViewModel

@{
    Layout = null;
    ViewBag.Title = "::Acknowlegment Slip::";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#aPrint").click(function () {
            $("#aPrint").hide();
            $("#printable").show();
            window.print();
            $("#aPrint").show();
        });

    });
</script>

<div>
    <div id="printable" class="container">
        <div class="col-xs-12">

            @*<div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12 ">
                                <div class="row">
                                    <div class="col-xs-2 pull-left">
                                        <img class="img-responsive" src="@Url.Content("~/Content/Images/school_logo.jpg")" width="100px" height="100px" alt="School Logo" />
                                    </div>
                                    <div class="col-xs-8 text-left text-bold">

                                        <h4>ABIA STATE UNIVERSITY, UTURU</h4>
                                        <h5>@Model.Payment.Session.Name POSTGRADUATE APPLICATION</h5>
                                        <h5>ACKNOWLEDGMENT SLIP</h5>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="form-group margin-bottom-0">
                                                    <div class="col-xs-4">
                                                        <img class="img-responsive" src="@Url.Content('~' + Model.Person.ImageFileUrl)" width="100px" height="100px" alt="Student Passport" />
                                                    </div>
                                                    <div class="col-xs-8 text-bold" style="font-size: x-small">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xs-6">
                                                <div class="form-group margin-bottom-0">
                                                    <div class="col-xs-4">
                                                    </div>
                                                    <div class="col-xs-8 text-bold" style="font-size: x-small">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-7">
                                                <div class="form-group margin-bottom-0">
                                                    <div class="col-xs-5">

                                                        @Html.LabelFor(model => model.Person.FullName, "Fullname:", new { @class = "", @style = "font-size:small" })
                                                    </div>
                                                    <div class="col-xs-6 text-bold" style="font-size: small">
                                                        @Html.DisplayFor(model => model.Person.FullName)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-7">
                                                <div class="form-group margin-bottom-0">
                                                    <div class="col-xs-5">

                                                        @Html.LabelFor(model => model.Person.MobilePhone, "Mobile No:", new { @class = "", @style = "font-size:small" })
                                                    </div>
                                                    <div class="col-xs-6 text-bold" style="font-size: small">
                                                        @Html.DisplayFor(model => model.Person.MobilePhone)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-7">
                                                <div class="form-group margin-bottom-0">
                                                    <div class="col-xs-5">

                                                        @Html.LabelFor(model => model.Person.FullName, "Application Number:", new { @class = "", @style = "font-size:small" })
                                                    </div>
                                                    <div class="col-xs-6 text-bold" style="font-size: small">
                                                        @Html.DisplayFor(model => model.ApplicationForm.SerialNumber)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-7">
                                                <div class="form-group margin-bottom-0">
                                                    <div class="col-xs-5">

                                                        @Html.LabelFor(model => model.Person.FullName, "Department:", new { @class = "", @style = "font-size:small" })
                                                    </div>
                                                    <div class="col-xs-6 text-bold" style="font-size: small">
                                                        @Html.DisplayFor(model => model.AppliedCourse.Department.Name)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-7">
                                                <div class="form-group margin-bottom-0">
                                                    <div class="col-xs-5">

                                                        @Html.LabelFor(model => model.AppliedCourse.Programme.Name, "Programme:", new { @class = "", @style = "font-size:small" })
                                                    </div>
                                                    <div class="col-xs-6 text-bold" style="font-size: small">
                                                        @Html.DisplayFor(model => model.AppliedCourse.Programme.Name)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-7">
                                                <div class="form-group margin-bottom-0">
                                                    <div class="col-xs-5">

                                                        @Html.LabelFor(model => model.Person.FullName, "Field Of Study:", new { @class = "", @style = "font-size:small" })
                                                    </div>
                                                    <div class="col-xs-6 text-bold" style="font-size: small">
                                                        @Html.DisplayFor(model => model.AppliedCourse.Option.Name)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-7">
                                                <div class="form-group margin-bottom-0">
                                                    <div class="col-xs-5">

                                                        @Html.LabelFor(model => model.AppliedCourse.Programme.Id, "Mode Of Study:", new { @class = "", @style = "font-size:small" })
                                                    </div>
                                                    <div class="col-xs-6 text-bold" style="font-size: small">
                                                        @Html.DisplayFor(model => model.AppliedCourse.Programme.Name)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-7">
                                                <div class="form-group margin-bottom-0">
                                                    <div class="col-xs-5">

                                                        @Html.LabelFor(model => model.Person.FullName, "Date Submitted:", new { @class = "", @style = "font-size:small" })
                                                    </div>
                                                    <div class="col-xs-6 text-bold" style="font-size: small">
                                                        @Html.DisplayFor(model => model.ApplicationForm.DateSubmitted)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class=" col-xs-12 text-bold text-danger">
                                                <p class="text-bold">
                                                    NB :
                                                    Please ensure that you instruct your former institution(s) to forward transcript(s) of your academic work direct to : The Secretary School of Post­Graduate Studies, Abia State University PMB 2000 Uturu, Abia State, Nigeria
                                                </p>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class=" col-xs-12 text-bold text-danger">
                                                <p class="text-bold text-center">
                                                    <a href="@Url.Action("BuildReport","PostGraduateForm",new { studentId=@Model.Person.Id ,type = 1 })">Click Here to Download Referee Form</a><br />
                                                    <a href="@Url.Action("BuildReport","PostGraduateForm",new { studentId = @Model.Person.Id,type = 2 })">Click Here to Download Transcript Request Form</a><br />
                                                    Print and Keep this slip
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button id="aPrint" class="btn btn-primary btn-lg ">Print Slip</button>
                            </div>
                        </div>
                    </div>
                </div>*@




            <!doctype html>
            <html class="no-js" lang="">
            <head>
                <meta charset="utf-8">
                <title></title>
                <meta name="description" content="">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <style>
                    .d-inline-block {
                        display: inline-block;
                    }

                    .justify-content-center {
                        justify-content: center
                    }

                    .justify-content-between {
                        justify-content: space-between
                    }

                    .d-flex {
                        display: flex
                    }

                    .flex-wrap {
                        flex-wrap: wrap;
                    }

                    .text-center {
                        text-align: center !important
                    }

                    .mt-4 {
                        margin-top: 1rem
                    }

                    .mt-0 {
                        margin-top: 0 !important
                    }

                    .border-top {
                        border-top: 1px solid #eee
                    }

                    .border-bottom {
                        border-bottom: 1px solid #eee
                    }

                    .border-bottom-bold {
                        border-bottom: 1px solid #000;
                    }

                    .mr-20px {
                        margin-right: 20px !important;
                    }

                    .mb-30px {
                        margin-bottom: 30px !important;
                    }

                    .mb-20px {
                        margin-bottom: 20px !important;
                    }

                    .mt-30px {
                        margin-top: 30px !important;
                    }

                    .mt-20px {
                        margin-top: 20px !important;
                    }

                    .font-weight-bold {
                        font-weight: bolder;
                    }

                    .my-auto {
                        margin-top: auto;
                        margin-bottom: auto;
                    }

                    .text-italic {
                        font-style: italic;
                    }

                    .text-underline {
                        text-decoration: underline;
                    }

                    .list-mb {
                        margin-bottom: 15px;
                    }

                    .px-10px {
                        padding-left: 10px;
                        padding-right: 10px;
                    }

                    .ml-20px {
                        margin-left: 20px;
                    }

                    @@media only screen and (min-device-width: 576px) {
                        .container {
                            max-width: 540px;
                        }
                    }

                    @@media only screen and (min-device-width: 768px) {
                        .container {
                            max-width: 720px;
                        }
                    }

                    @@media only screen and (min-device-width: 992px) {
                        .container {
                            max-width: 960px;
                        }
                    }

                    @@media only screen and (min-device-width: 1200px) {
                        .container {
                            max-width: 1140px;
                        }
                    }

                    @@media print {
                        .noprint {
                            display: none;
                        }
                    }

                    .container {
                        width: 100%;
                        padding-right: 15px;
                        padding-left: 15px;
                        margin-right: auto;
                        margin-left: auto;
                    }

                    .grid-left {
                        grid-area: left;
                    }

                    .grid-right {
                        grid-area: right;
                    }

                    .grid-container {
                        display: grid;
                        grid-template-areas: "left left right right";
                        grid-gap: 10px;
                        padding: 10px;
                    }

                    .mr-30px {
                        margin-right: 200px;
                    }

                    .mt-50px {
                        margin-top: 50px
                    }
                </style>
            </head>
            <body>
                <div class="container" id="printarea">
                    <div class="row justify-content-center mb-20px">
                        <div class="col-lg-12">
                            <div class="d-flex text-center justify-content-center mt-4">
                                <img class="d-inline mr-20px" src="@Url.Content("~/Content/Images/school_logo.jpg")" width="100px" height="auto" />
                                <div class="my-auto">
                                    @if (@Model.AppliedCourse.Programme.Id == 15 || @Model.AppliedCourse.Programme.Id == 16
                                       || @Model.AppliedCourse.Programme.Id == 17 || @Model.AppliedCourse.Programme.Id == 18
                                       || @Model.AppliedCourse.Programme.Id == 19 || @Model.AppliedCourse.Programme.Id == 24
                                       || @Model.AppliedCourse.Programme.Id == 25 || @Model.AppliedCourse.Programme.Id == 27)
                                    {<h2 class="d-inline mt-0 font-weight-bold">UNIZIK BUSINESS SCHOOL, NNAMDI AZIKIWE UNIVERSITY, AWKA</h2> }
                                    else
                                    {
                                        <h2 class="d-inline mt-0 font-weight-bold">NNAMDI AZIKIWE UNIVERSITY, AWKA</h2>}
                                    <h4>@Model.AppliedCourse.Setting.Session.Name POSTGRADUATE APPLICATION FORM SLIP</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="border border-top mt-50px">
                        <h3 class="d-inline-block">Application Form Information</h3>
                    </div>
                    <div class="d-flex flex-wrap">
                        <div class="mr-30px">

                            <p class="mt-20px"><span class="font-weight-bold"> Application Number: </span>  @Model.ApplicationForm.Number</p>
                            <p class="mt-20px"><span class="font-weight-bold"> Email </span>  @Model.Person.Email</p>
                        </div>

                    </div>
                    <div class="border border-top ">
                        <h3 class="d-inline-block">Personal Information</h3>
                    </div>
                    <div class="d-flex flex-wrap">
                        @if (Model.Person.ImageFileUrl != null)
                        {
                            <img class="d-inline mr-20px" src="@Url.Content(Model.Person.ImageFileUrl)" height="200px" />
                        }
                        <div>
                            <div class="grid-container">
                                <div class="grid-left">
                                    <p class="font-weight-bold mt-0">Surname: </p>
                                </div>
                                <div class="grid-right">
                                    <p class="mt-0">@Model.Person.LastName</p>
                                </div>
                            </div>
                            <div class="grid-container">
                                <div class="grid-left">
                                    <p class="font-weight-bold mt-0">Name: </p>
                                </div>
                                <div class="grid-right">
                                    <p class="mt-0">@Model.Person.FirstName</p>
                                </div>
                            </div>
                            <div class="grid-container">
                                <div class="grid-left">
                                    <p class="font-weight-bold mt-0">Other Names: </p>
                                </div>
                                <div class="grid-right">
                                    <p class="mt-0">@Model.Person.OtherName</p>
                                </div>
                            </div>
                            <div class="grid-container">
                                <div class="grid-left">
                                    <p class="font-weight-bold mt-0">Date of Birth: </p>
                                </div>
                                <div class="grid-right">
                                    <p class="mt-0">@Model.Person.DateOfBirth.Value.ToLongDateString()</p>
                                </div>
                            </div>
                            <div class="grid-container">
                                <div class="grid-left">
                                    <p class="font-weight-bold mt-0">Sex: </p>
                                </div>
                                <div class="grid-right">
                                    <p class="mt-0">@Model.Person.Sex.Name</p>
                                </div>
                            </div>
                            <div class="grid-container">
                                <div class="grid-left">
                                    <p class="font-weight-bold mt-0">State: </p>
                                </div>
                                <div class="grid-right">
                                    <p class="mt-0">@Model.Person.State.Name</p>
                                </div>
                            </div>
                          
                            <div class="grid-container">
                                <div class="grid-left">
                                    <p class="font-weight-bold mt-0">Nationality: </p>
                                </div>
                                <div class="grid-right">
                                    <p class="mt-0">@Model.Person.Nationality.Name</p>
                                </div>
                            </div>
                            <div class="grid-container">
                                <div class="grid-left">
                                    <p class="font-weight-bold mt-0">Residential Address: </p>
                                </div>
                                <div class="grid-right">
                                    <p class="mt-0">@Model.Person.HomeAddress</p>
                                </div>
                            </div>
                            <div class="grid-container">
                                <div class="grid-left">
                                    <p class="font-weight-bold mt-0">Phone No: </p>
                                </div>
                                <div class="grid-right">
                                    <p class="mt-0">@Model.Person.MobilePhone</p>
                                </div>
                            </div>
                            <div class="grid-container">
                                <div class="grid-left">
                                    <p class="font-weight-bold mt-0">Email: </p>
                                </div>
                                <div class="grid-right">
                                    <p class="mt-0">@Model.Person.Email</p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="border border-top mt-50px">
                        <h3 class="d-inline-block">Academic Program in view</h3>
                    </div>
                    <div class="d-flex flex-wrap">

                        <div class="mr-30px">
                            @if (@Model.AppliedCourse.Programme.Id == 15 || @Model.AppliedCourse.Programme.Id == 16
                                || @Model.AppliedCourse.Programme.Id == 17 || @Model.AppliedCourse.Programme.Id == 18
                                || @Model.AppliedCourse.Programme.Id == 19 || @Model.AppliedCourse.Programme.Id == 24
                                || @Model.AppliedCourse.Programme.Id == 25 || @Model.AppliedCourse.Programme.Id == 27)
                            {

                            }
                            else
                            {

                                <p class="mt-20px"><span class="font-weight-bold"> Faculty: </span>  @Model.AppliedCourse.Department.Faculty.Name</p>
                            }
                            <p class="mt-20px"><span class="font-weight-bold"> Department: </span>  @Model.AppliedCourse.Department.Name</p>
                        </div>
                        <div class="mr-30px">

                            <p class="mt-20px"><span class="font-weight-bold"> Programme: </span> @Model.AppliedCourse.Programme.Name</p>
                            <p class="mt-20px">
                                <span class="font-weight-bold"> Specialization: </span>@if (Model.AppliedCourse.Option != null)
                                {@Model.AppliedCourse.Option.Name}
                            </p>

                        </div>
                        <div class="mr-30px">
                            @if (Model.ModeOfStudy != null)
                            {
                                <p class="mt-20px">
                                    <span class="font-weight-bold"> Mode Of Study: </span>

                                    @Model.ModeOfStudy.Name

                                </p>
                            }
                            <p class="mt-20px"><span class="font-weight-bold"> Entry Tier: </span> @Model.AppliedCourse.TierId</p>
                        </div>
                        <div class="ml-30px">
                            <p class="mt-20px">
                                @if (@Model.PgApplicantSupervisorSelection != null)
                                {

                                <p class="mt-20px"><span class="font-weight-bold"> Most Preffered Supervisor: </span> @Model.PgApplicantSupervisorSelection.Supervisor.Supervisor.SupervisorName</p>
                            }


                                </p>
                            </div>
                        </div>

                        <div class="border border-top mt-50px">
                            <h3 class="d-inline-block">Next of kin information</h3>
                        </div>
                        <div class="d-flex flex-wrap">
                            <div class="mr-30px">

                                <p class="mt-20px"><span class="font-weight-bold"> Name of Next Of Kin: </span>  @Model.Sponsor.Name</p>
                                <p class="mt-20px"><span class="font-weight-bold"> Address of Next of kin </span>  @Model.Sponsor.ContactAddress</p>
                                <p class="mt-20px"><span class="font-weight-bold"> Phone number of Next of kin </span>  @Model.Sponsor.MobilePhone</p>
                                <p class="mt-20px"><span class="font-weight-bold"> Relationship  </span>  @Model.Sponsor.Relationship.Name</p>
                                @*<p class="mt-20px"><span class="font-weight-bold"> Address of sponsor </span>  @Model.Person.Email</p>
                                    <p class="mt-20px"><span class="font-weight-bold"> Phone number of sponsor </span>  @Model.Person.Email</p>*@
                            </div>

                        </div>



                      


                        <div class="panel-heading">
                            <div style="font-size: x-large">Certificates Upload</div>
                        </div><hr /><br />
                        <div class="panel-body">

                            <div class="row">

                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="control-label">Document Name</label>

                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Documents Uploaded</label>

                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label"> Year Obtained</label>

                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">

                                    </div>
                                </div>

                            </div>
                            @if (Model.ApplicantUploadedFiles.Count() > 0)
                            {
                                foreach (var item in Model.ApplicantUploadedFiles)
                                {
                                    <div class="row" id="@item.Id">

                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label class="control-label">@item.SchoolName</label>

                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">@item.Document.Name</label>

                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="control-label">@item.Year</label>

                                            </div>
                                        </div>
                                        <div class="col-md-2">

                                        </div>

                                    </div>
                                }
                            }
                        </div>



                        <div class="border border-top mt-50px">
                            <h3 class="d-inline-block">Reference</h3>
                        </div>
                        @Html.Partial("_RefereePreview", Model)

                        <div class="border border-top mt-50px">
                            <h3 class="d-inline-block">Terms and Conditions Agreement</h3>
                        </div>
                        <div class="mb-30px">
                            @if (@Model.AppliedCourse.Programme.Id == 15 || @Model.AppliedCourse.Programme.Id == 16
                                        || @Model.AppliedCourse.Programme.Id == 17 || @Model.AppliedCourse.Programme.Id == 18
                                        || @Model.AppliedCourse.Programme.Id == 19 || @Model.AppliedCourse.Programme.Id == 24
                                        || @Model.AppliedCourse.Programme.Id == 25 || @Model.AppliedCourse.Programme.Id == 27)
                            {
                                <p class="mt-20px"><span class="font-weight-bold"> I @Model.Person.FullName.ToUpper() do accept that i have read all the requirements that qualify me for this program on the Unizik Business School Page in the University Website. </span> </p>
                                <p class="mt-20px">
                                    <span class="font-weight-bold">
                                        That i satisfy the minimum requirements for this program I applied for, and that Nnamdi Azikiwe University Business School
                                        will not Refund any fee made, or be held reponsible if at any time, it was discovered that i did not meet up with the minimum requirements for this program. That Nnamdi Azikiwe University Business School has the sole right to
                                        disqualify my application and withdraw my admission if at any time, it was discovered that i did not meet up with the minimum requirements for this program.
                                    </span>
                                </p>

                                <p class="mt-20px">
                                    <span class="font-weight-bold">
                                        I hereby state that i have read all the requirements that qualify me for this programme on the Business School
                                        page of the Nnamdi Azikiwe University website. I accept that Business School, Nnamdi Azikiwe University  will not refund any fee paid, or be held responsible if, at any time, it was discovered
                                        that i did not meet up with the minimum requirements for the programme, I agree that the Business School, Nnamdi Azikiwe University  has the sole right to disqualify
                                        my application and withdraw my admission if, at any time, it was discovered that i did not meet up with the minimum requirements for this programme.
                                    </span>
                                </p>
                                <p class="mt-20px">
                                    <span class="font-weight-bold">
                                        I hereby declare that the information i have supplied above is true to the best of my knowledge. I am aware that withholding any information
                                        and/or giving false information automatically disqualifies me from gaining admission.
                                    </span>
                                </p>

                                <p class="mt-20px">
                                    <span class="font-weight-bold">
                                        Notwithstanding compliance with the above and other conditions, I accept that admissions offered are provisional and the Business School
                                        reserves the right to offer or deny me admission.
                                    </span>
                                </p>
                            }
                            else
                            {

                                <p class="mt-20px"><span class="font-weight-bold"> I @Model.Person.FullName.ToUpper() do accept that i have read all the requirements that qualify me for this program on the Unizik Postgraduate Page in the University Website. </span> </p>
                                <p class="mt-20px">
                                    <span class="font-weight-bold">
                                        That i satisfy the minimum requirements for this program I applied for, and that Nnamdi Azikiwe University Postgraduate School
                                        will not Refund any fee made, or be held reponsible if at any time, it was discovered that i did not meet up with the minimum requirements for this program. That Nnamdi Azikiwe University Postgraduate School has the sole right to
                                        disqualify my application and withdraw my admission if at any time, it was discovered that i did not meet up with the minimum requirements for this program.
                                    </span>
                                </p>

                                <p class="mt-20px">
                                    <span class="font-weight-bold">
                                        I hereby state that i have read all the requirements that qualify me for this programme on the School
                                        of Postgraduate Studies page of the Nnamdi Azikiwe University website. I accept that Nnamdi Azikiwe University School of Postgraduate Studies will not refund any fee paid, or be held responsible if, at any time, it was discovered
                                        that i did not meet up with the minimum requirements for the programme, I agree that the Nnamdi Azikiwe University School of Postgraduate Studies has the sole right to disqualify
                                        my application and withdraw my admission if, at any time, it was discovered that i did not meet up with the minimum requirements for this programme.
                                    </span>
                                </p>
                                <p class="mt-20px">
                                    <span class="font-weight-bold">
                                        I hereby declare that the information i have supplied above is true to the best of my knowledge. I am aware that withholding any information
                                        and/or giving false information automatically disqualifies me from gaining admission.
                                    </span>
                                </p>

                                <p class="mt-20px">
                                    <span class="font-weight-bold">
                                        Notwithstanding compliance with the above and other conditions, I accept that admissions offered are provisional and the School of Postgraduate
                                        Studies reserves the right to offer or deny me admission.
                                    </span>
                                </p>

                            }

                        </div>
                        @*<div class="pull-right">
                                @Html.GenerateQrCode(Model.QRVerification)
                            </div>*@

                        <hr />


                    </div>
                    <div>
                        <button id="aPrint" class="btn btn-primary btn-lg ">Print Slip</button>
                    </div>
                    @if (@Model.AppliedCourse.Programme.Id == 15 || @Model.AppliedCourse.Programme.Id == 16
                                        || @Model.AppliedCourse.Programme.Id == 17 || @Model.AppliedCourse.Programme.Id == 18
                                        || @Model.AppliedCourse.Programme.Id == 19 || @Model.AppliedCourse.Programme.Id == 24
                                        || @Model.AppliedCourse.Programme.Id == 25 || @Model.AppliedCourse.Programme.Id == 27)
                    {

                    }
                    else
                    {

                        <div class="noprint">
                            <div class="row">
                                <div class=" col-xs-12 text-bold text-danger">
                                    <p class="text-bold text-center">
                                        @*<a href="@Url.Action("BuildReport", "PostGraduateForm", new { studentId = @Model.Person.Id, type = 1 })">Click Here to Download Referee Form</a><br />
                                            <a href="@Url.Action("BuildReport", "PostGraduateForm", new { studentId = @Model.Person.Id, type = 2 })">Click Here to Download Transcript Request Form</a><br />*@
                                        Print and Keep this slip
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
        </div>


        </body>
        </html>

    </div>
</div>
</div>