@model Abundance_Nk.Web.Areas.PGStudent.ViewModels.PGPaymentViewModel

@{
    ViewBag.Title = "Generate Invoice";
}

<link href="~/Content/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/sweetalert.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        swal({
            title: "Attention!",
            text: "Ensure that you have not made payment for the fee you are about to process ELSE you risk loosing the processed fee.",
            type: "warning"

        });
        var items = $('#StudentLevel_DepartmentOption_Id option').size();
        if (items > 0) {
            $("#divDepartmentOption").show();
        } else {
            $("#divDepartmentOption").hide();
        }

        var feeTypeId = $("#FeeType_Id").val();

        if (feeTypeId == 17) {
            $("#PaymentMode_Id").val(1);
            $("#PaymentMode_Id option[value='2']").remove();
            $("#PaymentMode_Id option[value='3']").remove();
            $("#Session_Id option[value='19']").remove();

        }
        //Only Allow Third installment School Fees Payment for JUPEB Payment
        if ($("#StudentLevel_Programme_Id").val() != 15) {
            $("#PaymentMode_Id option[value='4']").remove();
        }
        //
        $("#StudentLevel_Programme_Id").change(function () {
            var programme = $("#StudentLevel_Programme_Id").val();

            $("#StudentLevel_Department_Id").empty();
            $("#StudentLevel_Level_Id").empty();

            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetDepartmentAndLevelByProgrammeId", "Payment")',
                dataType: 'json',
                data: { id: programme },
                success: function (data) {
                    var levels = data.Levels;
                    var departments = data.Departments;

                    if (departments != "" && departments != null && departments != undefined) {
                        $("#StudentLevel_Department_Id").append('<option value="' + 0 + '"> -- Select -- </option>');

                        $.each(departments, function (i, department) {
                            $("#StudentLevel_Department_Id").append('<option value="' + department.Id + '">' + department.Name + '</option>');
                        });
                    }

                    if (levels != "" && levels != null && levels != undefined) {
                        $("#StudentLevel_Level_Id").append('<option value="' + 0 + '"> -- Select -- </option>');

                        $.each(levels, function (i, level) {
                            $("#StudentLevel_Level_Id").append('<option value="' + level.Id + '">' + level.Name + '</option>');
                        });
                    }
                },
                error: function (ex) {
                    alert('Failed to retrieve departments.' + ex);
                }
            });
        });

    })
</script>

@using (Html.BeginForm("GenerateInvoice", "Payment", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.FeeType.Id)
    @Html.HiddenFor(model => model.PaymentType.Id)
    @Html.HiddenFor(model => model.Person.Type.Id)
    @Html.HiddenFor(model => model.FeeType.Name)
    @Html.HiddenFor(model => model.PaymentType.Name)
    @Html.HiddenFor(model => model.Person.Type.Name)
    @Html.HiddenFor(model => model.Person.Id)
    @Html.HiddenFor(model => model.StudentAlreadyExist)

    if (Model.StudentAlreadyExist)
    {
        @Html.HiddenFor(model => model.StudentLevel.Department.Faculty.Id)
    }

    <div class="container">
        <div class="card card-shadow">
            <div class="row ">
                <div class="col-md-12">
                    <h3 class="font-weight-normal">Generate Invoice</h3>
                    <p class="card-text">Provide your Programme, Choosen Course, fill other details and Click Generate.</p>
                </div>

                <div class="col-md-12 stretch-card grid-margin">
                    <div class="card bg-neutral">
                        @if (Model.StudentAlreadyExist)
                        {
                            @Html.Partial("_PGRegisteredStudent", Model)
                        }
                        else
                        {
                            @Html.Partial("_PGUnRegisteredStudent", Model)
                        }

                        <div class="col-md-12 p-0">
                            <button class="btn btn-primary" type="submit" id="submit">Generate Invoice</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}